---
// use astro content collection to fetch markdown files from /content/docs
import { render, getCollection, type CollectionEntry } from "astro:content"
import { buildDocsNavigation } from "../../utils/buildDocsNavigation"
import LayoutDocs from "~/components/layouts/DocsLayout.astro"
import NavToc from "~/components/docs/NavToc.vue"
import PrevNext from "~/components/layout/PrevNext.vue"
import HelpfulVote from "~/components/docs/HelpfulVote.vue"

export async function getStaticPaths() {
    const docsPages = await getCollection("docs")
    return docsPages.map((doc) => ({
        params: { docsPath: doc.id },
        props: doc,
    }))
}
type Props = CollectionEntry<"docs">

const doc = Astro.props
const { Content, headings } = await render(doc)

const image = new URL(`/meta/docs/${doc.id}.svg`, Astro.url)

const navigation = await buildDocsNavigation()

const editUrl = doc.filePath
    ? `https://github.com/kestra-io/docs/edit/main/${doc.filePath.replace(/.*\/content\//, "content/")}`
    : undefined

const images = import.meta.glob<{ default: ImageMetadata }>(
    "/src/contents/docs/icons/*.svg",
)
const icon = doc.data?.icon ? (await images[doc.data.icon]()).default.src : null
---

<LayoutDocs
    activeStem={`/docs/${doc.id}`}
    title={doc.data?.title}
    description={doc.data?.description}
    pageTitle={doc.data?.sidebarTitle ?? doc.data?.title}
    image={image.toString()}
>
    <h1 class="title" slot="title">
        {
            icon ? (
                <img
                    width="40"
                    height="40"
                    src={icon}
                    alt={`${doc.data.title} icon`}
                />
            ) : null
        }
        {doc.data?.title}
    </h1>
    <div class="bd-markdown">
        <Content />
        <HelpfulVote client:visible />
        <PrevNext {navigation} currentPath={`/docs/${doc.id}`} client:idle />
    </div>
    <NavToc
        links={headings.map((heading) => ({
            id: heading.slug,
            text: heading.text,
            depth: heading.depth,
        }))}
        client:visible
        slot="headings"
        {editUrl}
    />
</LayoutDocs>

<style lang="scss">
    @import "~/assets/styles/variable";

    .title {
        line-height: 3.25rem;
        margin: 0 auto;
    }


</style>
