---
import { Image } from "astro:assets"
import contributorsImg from "./assets/contributors.png"

// Fetch data at build time
interface GitHubMetrics {
    stars: number
    forks: number
    issues: number
    pullRequests: number
    commits: number
}

interface Contributor {
    name: string
    avatar: string
    contributions?: number
}

let metrics: GitHubMetrics = {
    stars: 0,
    forks: 0,
    issues: 0,
    pullRequests: 0,
    commits: 0,
}

let contributors: Contributor[] = []

try {
    // Fetch GitHub stargazers from the API
    const githubResponse = await fetch("https://kestra.io/api/github")
    const githubData = await githubResponse.json()

    // Fetch metrics from Kestra API
    const metricsResponse = await fetch(
        "https://api.kestra.io/v1/communities/github/metrics",
    )
    const metricsData = await metricsResponse.json()

    // Fetch contributors from Kestra API
    const contributorsResponse = await fetch(
        "https://api.kestra.io/v1/communities/github/contributors",
    )
    const contributorsData = await contributorsResponse.json()

    metrics = {
        stars: githubData.stargazers || 0,
        forks: metricsData.data?.forks || 0,
        issues: metricsData.data?.issues || 0,
        pullRequests: metricsData.data?.pullRequests || 0,
        commits: metricsData.data?.commits || 0,
    }

    contributors = contributorsData.data || []
} catch (error) {
    console.error("Failed to fetch community metrics:", error)
}

// SVG icons inline
const starIcon = `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" /></svg>`

const forkIcon = `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M11,3H13V5H11V3M9.5,9H11V14H13V9H14.5L12,5.5L9.5,9M11,19H13V21H11V19M9.5,15L12,18.5L14.5,15H13V10H11V15H9.5Z" /></svg>`

const bugIcon = `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12,8A4,4 0 0,1 16,12A4,4 0 0,1 12,16A4,4 0 0,1 8,12A4,4 0 0,1 12,8M3,7H5.5L2,3.5L3.5,2L7,5.5V7H3M21,7H18.5V5.5L22,2L20.5,3.5L17,7H21M12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4M12,6A6,6 0 0,0 6,12A6,6 0 0,0 12,18A6,6 0 0,0 18,12A6,6 0 0,0 12,6M3,17H7V18.5L3.5,22L2,20.5L5.5,17H3M21,17H18.5L22,20.5L20.5,22L17,18.5V17H21Z" /></svg>`

const commitIcon = `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M17,12C17,14.42 15.28,16.44 13,16.9V21H11V16.9C8.72,16.44 7,14.42 7,12C7,9.58 8.72,7.56 11,7.1V3H13V7.1C15.28,7.56 17,9.58 17,12M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z" /></svg>`

const groupIcon = `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12,5.5A3.5,3.5 0 0,1 15.5,9A3.5,3.5 0 0,1 12,12.5A3.5,3.5 0 0,1 8.5,9A3.5,3.5 0 0,1 12,5.5M5,8C5.56,8 6.08,8.15 6.53,8.42C6.38,9.85 6.8,11.27 7.66,12.38C7.16,13.34 6.16,14 5,14A3,3 0 0,1 2,11A3,3 0 0,1 5,8M19,8A3,3 0 0,1 22,11A3,3 0 0,1 19,14C17.84,14 16.84,13.34 16.34,12.38C17.2,11.27 17.62,9.85 17.47,8.42C17.92,8.15 18.44,8 19,8M5.5,18.25C5.5,16.18 8.41,14.5 12,14.5C15.59,14.5 18.5,16.18 18.5,18.25V20H5.5V18.25M0,20V18.5C0,17.11 1.89,15.94 4.45,15.6C3.86,16.28 3.5,17.22 3.5,18.25V20H0M24,20H20.5V18.25C20.5,17.22 20.14,16.28 19.55,15.6C22.11,15.94 24,17.11 24,18.5V20Z" /></svg>`

const formatNumber = (num: number) => Intl.NumberFormat("en-US").format(num)
---

<div class="container-fluid hide-overflow">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-right">
                <Image
                    src={contributorsImg}
                    class="mb-4 img-fluid"
                    data-usal="fade-l"
                    alt=""
                />
                <h2 class="mb-4" data-usal="fade-l">
                    Kestra is built in the open
                </h2>
                <p data-usal="fade-r">
                    Inspire and get inspired. Join our community of maintainers
                    and contributors and help us improve our open-source
                    product.
                </p>
            </div>
            <div class="col-md-6">
                <div class="row community">
                    <div class="col-6 col-md-4" data-usal="fade-r">
                        <span class="icon" set:html={starIcon} />
                        <p>
                            Stars <br />
                            <span class="number"
                                >{formatNumber(metrics.stars)}</span
                            >
                        </p>
                    </div>
                    <div class="col-6 col-md-4" data-usal="fade-r">
                        <span class="icon" set:html={forkIcon} />
                        <p>
                            Forks <br />
                            <span class="number"
                                >{formatNumber(metrics.forks)}</span
                            >
                        </p>
                    </div>
                    <div class="col-6 col-md-4" data-usal="fade-r">
                        <span class="icon" set:html={bugIcon} />
                        <p>
                            Issues <br />
                            <span class="number"
                                >{formatNumber(metrics.issues)}</span
                            >
                        </p>
                    </div>
                    <div class="col-6 col-md-4" data-usal="fade-r">
                        <span class="icon" set:html={bugIcon} />
                        <p>
                            Pull requests <br />
                            <span class="number"
                                >{formatNumber(metrics.pullRequests)}</span
                            >
                        </p>
                    </div>
                    <div class="col-6 col-md-4" data-usal="fade-r">
                        <span class="icon" set:html={commitIcon} />
                        <p>
                            Commits <br />
                            <span class="number"
                                >{formatNumber(metrics.commits)}</span
                            >
                        </p>
                    </div>
                    <div class="col-6 col-md-4" data-usal="fade-r">
                        <span class="icon" set:html={groupIcon} />
                        <p>
                            Contributors <br />
                            <span class="number"
                                >{formatNumber(contributors.length)}</span
                            >
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container text-center community-links mb-3">
            <a
                href="https://github.com/kestra-io/kestra"
                data-usal="zoomin"
                class="btn btn-animated btn-dark-animated mt-2 mx-2"
            >
                Follow on GitHub
            </a>
            <a
                href="https://github.com/kestra-io/kestra/issues"
                data-usal="zoomin"
                class="btn btn-animated btn-purple-animated mt-2"
            >
                Find Open Issues
            </a>
        </div>
    </div>
</div>
<svg width="0" height="0">
    <defs>
        <linearGradient
            id="featureiconsgradient"
            x1="4.99595"
            y1="6.83411"
            x2="31.2214"
            y2="33.0161"
            gradientUnits="userSpaceOnUse"
        >
            <stop offset="0.015625" stop-color="#F2D5FF"></stop>
            <stop offset="1" stop-color="#CB5AFF"></stop>
        </linearGradient>
    </defs>
</svg>

<style lang="scss">
    @import "~/assets/styles/variable";

    .container-fluid {
        color: var(--bs-white);
        background: url("./assets/community-bg.svg") no-repeat right;

        &.hide-overflow {
            overflow: hidden;
        }

        h2 {
            font-size: $h2-font-size;
            font-weight: 300;
        }

        .container {
            & > .row {
                padding: calc($spacer * 2);
                padding-top: calc($spacer * 4);

                .text-right {
                    text-align: right;

                    @include media-breakpoint-up(md) {
                        border-right: 1px solid $black-6;
                        padding-right: calc($spacer * 3);
                    }

                    @include media-breakpoint-down(md) {
                        border-bottom: 1px solid $black-6;
                        padding-bottom: calc($spacer * 3);
                        margin-bottom: calc($spacer * 3);
                    }
                }
            }

            .container {
                border-bottom: $block-border;
                margin-bottom: 0 !important;
                padding-bottom: calc($spacer * 4);
            }
        }
    }

    .community {
        text-align: center;
        color: $white;

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: $border-radius-lg;
            background: $black-4;
            font-size: 2rem;
            padding: 1.5rem;
            width: fit-content;
            margin: 0 auto;
            position: relative;

            :global(svg) {
                width: 32px;
                height: 32px;

                path {
                    fill: url(#featureiconsgradient);
                }
            }

            &:before {
                content: "";
                position: absolute;
                top: -0.5px;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: -1;
                margin: -1px;
                border-radius: inherit;
                background: linear-gradient(
                    90deg,
                    rgba(176, 16, 251, 1) 0%,
                    rgba(222, 151, 255, 1) 14%,
                    rgba(162, 39, 219, 1) 28%,
                    rgba(255, 255, 255, 0.4654236694677871) 50%,
                    rgba(166, 16, 236, 0.8435749299719888) 72%
                );
            }
        }

        p {
            color: $purple-26;
            font-weight: bold;
            font-size: $font-size-sm;

            .number {
                font-size: $h3-font-size;
                margin-top: 0;
                color: var(--bs-white);
            }
        }
    }
</style>
