---
import Section from "~/components/layout/Section.astro"
import Card from "~/components/card/Card.astro"

// SVG icons inline
const autoModeIcon = `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19.36 10.04C18.67 6.59 15.64 4 12 4C9.11 4 6.6 5.64 5.35 8.04C2.34 8.36 0 10.91 0 14C0 17.31 2.69 20 6 20H19C21.76 20 24 17.76 24 15C24 12.36 21.95 10.22 19.36 10.04M14 13V17H10V13H7L12 8L17 13H14Z" /></svg>`

const chartBoxIcon = `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M9 17H7V10H9M13 17H11V7H13M17 17H15V13H17M19.5 19.1H4.5V5H19.5M19.5 3H4.5C3.4 3 2.5 3.9 2.5 5V19C2.5 20.1 3.4 21 4.5 21H19.5C20.6 21 21.5 20.1 21.5 19V5C21.5 3.9 20.6 3 19.5 3Z" /></svg>`

const groupIcon = `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12,5.5A3.5,3.5 0 0,1 15.5,9A3.5,3.5 0 0,1 12,12.5A3.5,3.5 0 0,1 8.5,9A3.5,3.5 0 0,1 12,5.5M5,8C5.56,8 6.08,8.15 6.53,8.42C6.38,9.85 6.8,11.27 7.66,12.38C7.16,13.34 6.16,14 5,14A3,3 0 0,1 2,11A3,3 0 0,1 5,8M19,8A3,3 0 0,1 22,11A3,3 0 0,1 19,14C17.84,14 16.84,13.34 16.34,12.38C17.2,11.27 17.62,9.85 17.47,8.42C17.92,8.15 18.44,8 19,8M5.5,18.25C5.5,16.18 8.41,14.5 12,14.5C15.59,14.5 18.5,16.18 18.5,18.25V20H5.5V18.25M0,20V18.5C0,17.11 1.89,15.94 4.45,15.6C3.86,16.28 3.5,17.22 3.5,18.25V20H0M24,20H20.5V18.25C20.5,17.22 20.14,16.28 19.55,15.6C22.11,15.94 24,17.11 24,18.5V20Z" /></svg>`

const kestraCommunity = {
    title: "Be respectful to the Kestra community",
    descriptionHtml:
        "Be respectful towards other members of this Slack Community. Do not harass others. <br/><br/> Assume positive intent.",
}

const makeEasy = {
    title: "Make it easy to help you",
    descriptionHtml: `<ul>
        <li>Please share relevant flows (YAML), logs and stack traces <a target='_blank' href='https://slack.com/intl/en-gb/help/articles/202288908-Format-your-messages'>formatted</a> in code blocks (no screenshots, please).</li><br/>
        <li>Please share how you have deployed Kestra:
        <ol type='a'>
            <li>Deployment choices (Standalone, Docker, Kubernetes, etc.).</li>
            <li>The version of Kestra.</li>
            <li>Your OS and its version.</li>
            </ul>
        </ol>
    </ul>`,
}

const relevantChannel = {
    title: "Use relevant channels",
    description:
        "Refrain from asking questions multiple times across different channels.",
}

const dontSpam = {
    title: "Don't spam",
    descriptionHtml:
        "While we'll do our best to help you, there is no guaranteed timeline to answer your question. <br /><br /> If you need support with SLA guarantees, <a href='https://kestra.io/demo' target='_blank'>reach out to us.</a>",
}
---

<div class="container-fluid">
    <div class="container">
        <Section
            subtitle="Community Guidelines"
            baseline="The Kestra community is a friendly and welcoming place for everyone."
        >
            <div class="guidelines row">
                <div class="col-md-6 col-sm-12 p-3">
                    <Card icon={autoModeIcon} cardInfo={kestraCommunity} />
                </div>
                <div class="col-md-6 col-sm-12 p-3">
                    <Card icon={chartBoxIcon} cardInfo={makeEasy} />
                </div>
                <div class="col-md-6 col-sm-12 p-3">
                    <Card icon={groupIcon} cardInfo={relevantChannel} />
                </div>
                <div class="col-md-6 col-sm-12 p-3">
                    <Card icon={groupIcon} cardInfo={dontSpam} />
                </div>
                <div class="d-flex flex-wrap justify-content-center">
                    <p>
                        If you have any questions, don't hestitate to ask us on
                        <a target="_blank" href="https://kestra.io/slack"
                            >Slack</a
                        >
                    </p>
                </div>
            </div>
        </Section>
    </div>
</div>

<style lang="scss">
    @import "~/assets/styles/variable";
    .container-fluid {
        background: url("./assets/guidelines-bg.svg") no-repeat bottom center;
        :global(.card-body) {
            h4 {
                font-weight: 600;
                font-size: $font-size-2xl;
            }
        }
        p {
            font-weight: 500;
            font-size: $font-size-lg;
            margin-top: 64px;
            color: $white;
        }
    }
</style>
