---
import { Image } from "astro:assets"
import FilaLogo from "~/assets/companies/fila.svg?raw"
import AppleLogo from "~/assets/teams/apple.svg?raw"
import AcxiomLogo from "~/assets/teams/acxiom.svg?raw"
import BattelleLogo from "~/assets/teams/Battelle.svg?raw"
import LorealLogo from "~/assets/teams/loreal.svg?raw"
import TeamImage from "~/assets/teams/team.png"

const CompanyLogos = [
    {
        alt: "Apple",
        src: AppleLogo,
        width: 38,
        height: 45,
    },
    {
        alt: "Fila",
        src: FilaLogo,
        width: 60,
        height: 22,
    },
    {
        alt: "Axiom",
        src: AcxiomLogo,
        width: 102,
        height: 23,
    },
    {
        alt: "Battelle",
        src: BattelleLogo,
        width: 101,
        height: 17,
    },
    {
        alt: "L'Oreal",
        src: LorealLogo,
        width: 115,
        height: 20,
    },
]
---

<main class="orchestrate">
    <section class="hero">
        <div class="grid">
            <div class="media">
                <Image
                    src={TeamImage}
                    alt=""
                    class="image-shadow"
                    width={554}
                    height={414}
                />
                <Image
                    src={TeamImage}
                    alt="Team Image"
                    class="image"
                    width={554}
                    height={414}
                />
            </div>
            <div class="content">
                <h1 class="title">
                    Orchestration for<br />
                    Every Developer,<br />
                    <span class="highlight">Everywhere.</span>
                </h1>
                <p class="text">
                    We're redefining orchestration for developers everywhere —
                    challenging the status quo and traditional limitations.
                    Kestra empowers engineers to orchestrate any workflow, in
                    any language, on any infrastructure, delivering unparalleled
                    freedom and flexibility. By simplifying complexity and
                    eliminating constraints, we enable developers to build
                    faster, and collaborate freely without compromise.
                </p>
            </div>
        </div>
    </section>

    <section class="trust">
        <div class="container" data-usal="fade-u">
            <div class="content">
                <h2 class="title" data-usal="fade-u delay-200">
                    Trusted by
                    <span class="gradient">Enterprises</span> Worldwide
                </h2>

                <p data-usal="fade-u delay-300">
                    <strong>We are excited</strong> to see how <strong
                        >Kestra</strong
                    > transform the way<br />
                    organizations approach orchestration.
                </p>
                <p data-usal="fade-u delay-400">
                    We believe that
                    <strong>Kestra's potential is limitless</strong>, and we<br
                    />
                    are eager to explore new
                    <strong>opportunities</strong> and<br />
                    <strong>partnerships</strong> as we move forward.
                </p>

                <div class="logos" data-usal="fade-u delay-400">
                    <div class="grid">
                        {
                            CompanyLogos.map((logo) => (
                                <div
                                    class="logo-item"
                                    set:html={logo.src}
                                    style={`width: ${logo.width}px; height: ${logo.height}px;`}
                                    aria-label={logo.alt}
                                    role="img"
                                />
                            ))
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<style lang="scss">
    @import "~/assets/styles/variable";

    .orchestrate {
        width: 100%;
        position: relative;

        .hero {
            padding: 2rem 0 170px;
            display: flex;
            align-items: start;
            justify-content: center;
            position: relative;

            @include media-breakpoint-up(md) {
                padding: 33px 64px 170px;
            }

            @include media-breakpoint-up(xxl) {
                padding: 133px 12rem 170px;
            }

            &::before {
                content: "";
                position: fixed;
                top: -470px;
                right: 30%;
                background: radial-gradient(circle, #581FD38F 0%, rgba(88, 31, 211, 0) 70%);
                width: 659px;
                height: 629px;
            }

            &::after {
                content: "";
                position: absolute;
                bottom: -250px;
                left: -80px;
                background: radial-gradient(circle, #581FD38F 0%, rgba(88, 31, 211, 0) 70%);
                width: 659px;
                height: 629px;
            }

            .grid {
                width: min(1140px, 100%);
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 44px;
                position: relative;

                @media (max-width: 1399px) {
                    grid-template-columns: 1fr;
                    gap: 2rem;
                    padding: 0 40px;
                }

                .media {
                    position: relative;
                    width: 100%;
                    max-width: 554px;
                    aspect-ratio: 554 / 414;
                    border: 1px solid;
                    border-image: linear-gradient(
                            91.19deg,
                            #474450 1.02%,
                            rgba(55, 53, 63, 0.37) 66.77%
                        )
                        1;
                    z-index: 2;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @media (max-width: 1399px) {
                        order: 2;
                        margin: 0 auto;
                    }

                    @media (max-width: 767px) {
                        max-width: none;
                        width: calc(100% + 40px);
                        margin: 0 -20px;
                    }

                    .image-shadow {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        bottom: -20px;
                        left: -8%;
                        filter: blur(30px);
                        opacity: 0.8;
                        z-index: -1;
                        pointer-events: none;
                        object-fit: cover;
                    }

                    .image {
                        position: relative;
                        z-index: 1;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .content {
                    padding: $rem-2 $rem-1;

                    @media (max-width: 1399px) {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                        order: 1;
                        padding: 0;
                    }

                    .title {
                        font-weight: 600;
                        font-size: 48px;
                        line-height: 1;
                        color: $white;
                        margin: 0;

                        @include media-breakpoint-down(md) {
                            font-size: $h2-font-size;
                        }
                    }

                    .text {
                        font-size: $font-size-md;
                        color: $white;
                        line-height: 1.6;
                        margin: $rem-1 auto;

                        @media (max-width: 1399px) {
                            max-width: 600px;
                        }

                        @include media-breakpoint-down(md) {
                            max-width: 100%;
                        }

                        @include media-breakpoint-down(sm) {
                            font-size: $font-size-sm;
                        }
                    }
                }
            }
        }

        .trust {
            padding: $rem-4 0;
            background: var(--ks-background-secondary);
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            border: solid;
            border-width: 1px 0;
            border-image: linear-gradient(
                    90deg,
                    rgba(71, 68, 80, 0.37) 0%,
                    rgba(71, 68, 80, 0.5) 20%,
                    rgba(71, 68, 80, 0.2) 50%,
                    rgba(71, 68, 80, 0.5) 80%,
                    rgba(71, 68, 80, 0.37) 100%
                )
                1;

            &::before {
                content: "";
                position: absolute;
                inset: 50% auto auto 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 564px;
                background:
                    linear-gradient(
                        179.47deg,
                        rgba(102, 108, 133, 0) 5.43%,
                        rgba(24, 25, 31, 0.3) 49.42%,
                        rgba(102, 108, 133, 0) 98.04%
                    ),
                    url("~/assets/teams/globe.svg") center / contain no-repeat;
                z-index: 1;
                opacity: 0.8;

                html.light & {
                    opacity: 0.3;
                }
            }

            .container {
                position: relative;
                z-index: 2;
                max-width: 1140px;
                margin: 0 auto;
                padding: 0 20px;

                @include media-breakpoint-up(lg) {
                    padding: 0 40px;
                }
                @include media-breakpoint-up(xl) {
                    padding: 0 80px;
                }
                @include media-breakpoint-up(xxl) {
                    padding: 0;
                }
            }

            .content {
                text-align: center;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                .title {
                    font-weight: 600;
                    color: var(--ks-content-primary);
                    padding-top: 2rem;
                    margin: 0;
                    line-height: 1.2;
                }

                .text-primary,
                .text-secondary {
                    line-height: 1.6;
                    margin: 0;
                    font-size: $font-size-md;
                    font-weight: 400;

                    strong {
                        font-weight: 600;
                    }
                }

                .text-primary {
                    color: $white;
                }
                .text-secondary {
                    color: $white;
                }

                .logos {
                    .grid {
                        display: grid;
                        width: min(784px, 100%);
                        margin: 0 auto;
                        gap: 9px;
                        place-items: center;
                        grid-template-columns: repeat(6, auto);

                        @include media-breakpoint-down(lg) {
                            grid-template-columns: repeat(3, auto);
                            gap: 2.5rem 2rem;
                        }

                        @include media-breakpoint-down(sm) {
                            grid-template-columns: repeat(2, auto);
                            gap: 2rem;
                        }
                    }
                }
            }
        }
    }
</style>
