---
import Layout from "~/components/layout.astro"
import DetailsHero from "~/components/use-cases/DetailsHero.vue"
import Alternation from "~/components/features/shared/Alternation.astro"
import Section from "~/components/layout/Section.astro"
import Enterprise from "~/components/use-cases/Enterprise.vue"
import Cards from "~/components/use-cases/Cards.astro"
import Capabilities from "~/components/use-cases/Capabilities.vue"
import FooterContact from "~/components/layout/FooterContact.astro"
import ArchiveSync from "vue-material-design-icons/ArchiveSync.vue"
import ChartAreaspline from "vue-material-design-icons/ChartAreaspline.vue"
import CloudRefreshVariant from "vue-material-design-icons/CloudRefreshVariant.vue"
import Cogs from "vue-material-design-icons/Cogs.vue"
import TimerCogOutline from "vue-material-design-icons/TimerCogOutline.vue"

const TITLE = "Optimize your Databases Management"
const DESCRIPTION =
    "Kestra empower software engineers to automate database migrations, ensure reliable backups, and facilitate quick restorations."

const MAIN_CONTENT = [
    {
        title: "Automated Database Migrations",
        image: {
            src: "/landing/usecases/databases/database-migrations.svg",
            alt: "Automated Database Migrations",
            width: 568,
            height: 420,
        },
        description:
            "Kestra enables you to automate database migrations, ensuring that schema changes are applied consistently across all environments.",
        content: `
                    <ul>
                        <li>
                            Version Control:
                            <span>Track and manage database schema changes using version control, ensuring consistency and traceability.</span>
                        </li>
                        <li>
                            Automated Rollbacks:
                            <span>Easily revert to previous database states in case of errors, ensuring minimal disruption.</span>
                        </li>
                        <li>
                            Environment Sync:
                            <span> Synchronize database schemas across development, testing, and production environments to maintain consistency.</span>
                        </li>
                    </ul>
                  `,
    },
    {
        title: "Ensure Data Protection",
        image: {
            src: "/landing/usecases/databases/ensure-protection.svg",
            alt: "Ensure Data Protection",
            width: 568,
            height: 420,
        },
        description:
            "Automate regular database backups with Kestra to safeguard your data against loss and ensure its availability when needed.",
        content: `
                    <ul>
                        <li>
                            Scheduled Backups:
                            <span>
                               Define and automate backup schedules to ensure regular and consistent backups.
                            </span>
                        </li>
                        <li>
                            Secure Storage:
                            <span>
                                Store backups securely, either on-premises or in the cloud, to protect against data loss and ensure compliance with data protection regulations.
                            </span>
                        </li>
                        <li>
                            Incremental Backups:
                            <span>
                                Optimize storage and backup time by performing incremental backups, capturing only the changes since the last backup.
                            </span>
                        </li>
                    </ul>
                `,
    },
    {
        title: "Quick Recovery",
        image: {
            src: "/landing/usecases/databases/quick-recovery.svg",
            alt: "Quick Recovery",
            width: 604,
            height: 477,
        },
        description:
            "Implement automated restoration processes with Kestra to recover data swiftly in the event of a failure, minimizing downtime and data loss.",
        content: `
                    <ul>
                        <li>
                            Automated Restorations:
                            <span>
                               Create workflows to automate the restoration of databases from backups, ensuring quick and reliable recovery.
                            </span>
                        </li>
                        <li>
                            Disaster Recovery:
                            <span>
                                 Plan and automate disaster recovery processes to ensure business continuity and minimal disruption during unforeseen events.
                            </span>
                        </li>
                        <li>
                            Testing Restorations:
                            <span>
                                 Regularly test your restoration workflows to ensure they are functioning correctly and can be relied upon in case of an emergency.
                            </span>
                        </li>
                    </ul>
                  `,
    },
]

const CAPABILITIES = ["Microservice Management", "API Orchestration"]

const CARDS_DATA = [
    {
        icon: Cogs,
        cardInfo: {
            title: "Operational Reliability",
            description:
                "Ensure reliable database operations with automated backups and restoration workflows.",
        },
    },
    {
        icon: ArchiveSync,
        cardInfo: {
            title: "Data Archiving",
            description:
                "Automate the archiving of historical data to ensure secure storage and easy retrieval when needed.",
        },
    },
    {
        icon: TimerCogOutline,
        cardInfo: {
            title: "Increase Efficiency",
            description:
                "Automate repetitive tasks, allowing your team to concentrate on strategic initiatives.",
        },
    },
    {
        icon: ChartAreaspline,
        cardInfo: {
            title: "Scalability",
            description:
                "Easily scale database management processes as your infrastructure grows without compromising performance.",
        },
    },
    {
        icon: CloudRefreshVariant,
        cardInfo: {
            title: "Data Consitency",
            description:
                "Maintain integrity across all database environments through automated migrations and backups.",
        },
    },
]
---

<Layout title={TITLE} description={DESCRIPTION}>
    <DetailsHero
        client:load
        title="Databases <span>Management</span>"
        description="Automate  your database management tasks within the development pipeline using Kestra."
        image={{
            src: "/landing/usecases/databases/header-hero.svg",
            alt: "Databases",
        }}
    />

    <Alternation items={MAIN_CONTENT}>
        <Section
            subtitle="your Databases Management"
            subtitleBefore="Optimize"
            class="p-0 bg-transparent"
            baseline="Kestra empower software engineers to automate database migrations, ensure reliable backups, and facilitate quick restorations."
        />
    </Alternation>

    <Enterprise title="Orchestrate infrastructure components using Kestra" client:visible />

    <Cards title={"<span class='highlight'>Overcome Common</span> <br class='highlight'> Databases Management <span class='highlight'>Challenges</span>"} cards={CARDS_DATA} />

    <Capabilities
        client:visible
        title="for Databases Management"
        capabilities={CAPABILITIES}
    />

    <FooterContact
        client:visible
        title="Ready to take your Infrastructure to the next level?"
    />
</Layout>
