---
import Layout from "~/components/layout.astro"
import DetailsHero from "~/components/use-cases/DetailsHero.vue"
import Blueprints from "~/components/common/BlueprintsRender.vue"
import Capabilities from "~/components/use-cases/Capabilities.vue"
import HeaderBox from "~/components/common/HeaderBox.vue"
import Cards from "~/components/use-cases/Cards.astro"
import { $fetchApi } from "~/utils/fetch"

const TITLE = "Simplify Your Data Engineering Challenges with Kestra"
const DESCRIPTION =
    "Orchestrate your Data Pipelines, Automate Processes, and Harness the Power of Your Data"

const response = await $fetchApi<{ results: Blueprint[] }>(
    "/blueprints/versions/latest?page=1&size=20",
)
const blueprints = response.results

const CARDS_DATA = [
    {
        number: "01",
        title: "Automate Your Data Pipelines",
        description:
            "Say goodbye to delays in your pipeline as Kestra initiates workflows based on specific times or events, such as data arrivals or file uploads.",
    },
    {
        number: "02",
        title: "Deploy Machine Learning Models",
        description:
            "Efficiently manage and deploy machine learning models at scale using Kestra’s orchestration capabilities.",
    },
    {
        number: "03",
        title: "Optimize ETL Processes",
        description:
            "Move, prepare, and clean data, consolidating it into a single data mart for easy access.",
    },
    {
        number: "04",
        title: "Seamless Data Integration",
        description:
            "Easily connect and integrate with various data sources, ensuring smooth data flow across your systems.",
    },
    {
        number: "05",
        title: "Real-time Data Processing",
        description:
            "Automatically detect and process changes in data sources with change data capture, keeping your data up-to-date and accurate.",
    },
    {
        number: "06",
        title: "Automated Reporting",
        description:
            "Configure Kestra to distribute reports via email or Slack, keeping your team informed.",
    },
    {
        number: "07",
        title: "Efficient Data Scraping",
        description:
            "Easily collect data from various sources and integrate it into your workflows.",
    },
    {
        number: "08",
        title: "End-to-End Data Orchestration",
        description:
            "Manage the entire data lifecycle, from ingestion to reporting, with Kestra’s powerful orchestration capabilities.",
    },
]

const CAPABILITIES = [
    "Change data capture",
    "Modern Data Stack Integration",
    "CI/CD for your Kestra Workflows",
]
---

<Layout title={TITLE} description={DESCRIPTION}>
    <DetailsHero
        client:load
        title="Kestra for<br><span>Data Engineers</span>"
        description="Orchestrate your Data Pipelines, Automate Processes, and Harness the Power of Your Data"
        image={{
            src: "/landing/usecases/data-engineers/header-hero.svg",
            alt: "Kestra for Data Engineers",
        }}
    />
    <Cards
        title="Simplify your Data Engineering <span class='highlight'>Challenges</span>"
        description="From automating data pipelines to accelerating machine learning model deployment, Kestra streamlines complex workflows across a wide range of industries and domains. Dive into the wide array of use cases Kestra efficiently addresses."
        cards={CARDS_DATA}
    />
    <Blueprints {blueprints} client:visible />
    <Capabilities
        client:visible
        title="for Data Orchestration"
        capabilities={CAPABILITIES}
    />
    <HeaderBox client:visible />
</Layout>
