---
import { $fetchApiCached } from "~/utils/fetch"

import Layout from "~/components/layout.astro"
import SeeHow from "~/components/common/SeeHow.astro"
import CardGrid from "~/components/card/CardGrid.astro"
import TopHero from "~/components/layout/TopHero.astro"
import Capabilities from "~/components/use-cases/Capabilities.astro"
import BlueprintsGrid from "~/components/common/BlueprintsGrid.astro"

import heroFront from "~/assets/use-cases/data/hero-front.svg"
import dataCapture from "~/assets/use-cases/capabilities/data-capture.svg"
import dataStack from "~/assets/use-cases/capabilities/data-stack.svg"
import ciCd from "~/assets/use-cases/capabilities/continuous-integration.svg"

const response = await $fetchApiCached<{ results: Blueprint[] }>(
    "/blueprints/versions/latest?tags=data&page=1&size=20",
)
const blueprints = response.results

const title = "Simplify Your Data Engineering Challenges with Kestra"
const description =
    "Orchestrate your Data Pipelines, Automate Processes, and Harness the Power of Your Data"

const CAPABILITIES = [
    {
        title: "Change data capture",
        description:
            "Streamline Complex Data Pipelines and Automate Repetitive Tasks for Enhanced Efficiency",
        image: dataCapture,
        pageHref: "/use-cases/change-data-capture",
    },
    {
        title: "Modern Data Stack Integration",
        description:
            "Integrate leading data tools from the Modern Data Stack with Kestra",
        image: dataStack,
        pageHref: "/use-cases/modern-data-stack",
    },
    {
        title: "CI/CD for your Kestra Workflows",
        description:
            "Embrace software engineering practices for versioning, deploying, and maintaining data workflows",
        image: ciCd,
        pageHref: "/use-cases/ci-cd",
    },
]

const ITEMS = [
    {
        number: "01",
        title: "Automate Your Data Pipelines",
        description:
            "Say goodbye to delays in your pipeline as Kestra initiates workflows based on specific times or events, such as data arrivals or file uploads.",
    },
    {
        number: "02",
        title: "Deploy Machine Learning Models",
        description:
            "Efficiently manage and deploy machine learning models at scale using Kestra’s orchestration capabilities.",
    },
    {
        number: "03",
        title: "Optimize ETL Processes",
        description:
            "Move, prepare, and clean data, consolidating it into a single data mart for easy access.",
    },
    {
        number: "04",
        title: "Seamless Data Integration",
        description:
            "Easily connect and integrate with various data sources, ensuring smooth data flow across your systems.",
    },
    {
        number: "05",
        title: "Real-time Data Processing",
        description:
            "Automatically detect and process changes in data sources with change data capture, keeping your data up-to-date and accurate.",
    },
    {
        number: "06",
        title: "Automated Reporting",
        description:
            "Configure Kestra to distribute reports via email or Slack, keeping your team informed.",
    },
    {
        number: "07",
        title: "Efficient Data Scraping",
        description:
            "Easily collect data from various sources and integrate it into your workflows.",
    },
    {
        number: "08",
        title: "End-to-End Data Orchestration",
        description:
            "Manage the entire data lifecycle, from ingestion to reporting, with Kestra’s powerful orchestration capabilities.",
    },
]
---

<Layout {title} {description} headerTheme="lightText">
    <TopHero
        title="Kestra for <br /> Data Engineers"
        {description}
        image={heroFront}
    />

    <CardGrid
        title="Built for the Way Data Teams Work"
        subtitle="From automating data pipelines to accelerating machine learning model deployment, Kestra streamlines complex workflows across a wide range of industries and domains."
        items={ITEMS}
    />

    <BlueprintsGrid
        title='Explore <span class="highlight">Data</span> blueprints'
        {blueprints}
        link={{
            href: "/blueprints?tags=data",
            text: "View more Data Blueprints",
        }}
    />

    <Capabilities title="for Data Orchestration" capabilities={CAPABILITIES} />

    <SeeHow>
        <Fragment slot="title"> Scale With Kestra Enterprise Edition </Fragment>
        Built for Enterprises and SMBs, with strong governance, enterprise-grade security,
        seamless scalability, and dedicated enterprise support backed by SLAs.
    </SeeHow>
</Layout>
