---
import Layout from "~/components/layout.astro"
import DetailsHero from "~/components/use-cases/DetailsHero.vue"
import Cards from "~/components/use-cases/Cards.astro"
import BusinessStats from "~/components/layout/BusinessStats.astro"
import Unlock from "~/components/use-cases/Unlock.vue"
import HeaderBox from "~/components/common/HeaderBox.vue"
import SophiaGenetics from "~/assets/companies/sophia-genetics.svg?raw"
import RefreshAuto from "vue-material-design-icons/RefreshAuto.vue"
import CommentQuoteOutline from "vue-material-design-icons/CommentQuoteOutline.vue"
import ChartBellCurve from "vue-material-design-icons/ChartBellCurve.vue"
import FileChartOutline from "vue-material-design-icons/FileChartOutline.vue"
import ImageFilterCenterFocus from "vue-material-design-icons/ImageFilterCenterFocus.vue"
import ArrowUp from "~/components/demo/assets/arrow-up-thin.svg?url"

const TITLE = "Kestra for Healthcare"
const DESCRIPTION =
    "Streamline data processing, accelerate research, and enhance collaboration with Kestra’s advanced orchestration and scheduling solutions"

const COMPANY_INFO = {
    personName: "Yohann Nédélec",
    personRole: "Tech Lead",
    logo: SophiaGenetics,
    logoAlt: "Sophia Genetics",
}

const UNLOCK_CONTENT = {
    leftContent: [
        {
            title: "Accelerate Data Processing",
            description:
                "Kestra facilitates seamless data sharing and workflow coordination among bioinformaticians, data scientists, and IT teams.",
        },
        {
            title: "Improve Data Accuracy and Reliability",
            description:
                "Kestra prioritizes data security and compliance, ensuring all information is handled according to the highest standards for trust and reliability in your healthcare operations.",
        },
    ],
    rightContent: [
        {
            title: "Enhance Collaboration",
            description:
                "Whether dealing with genomic sequences, patient records, or research data, Kestra ensures that your data is processed swiftly and accurately.",
        },
        {
            title: "Secure and Compliant Data Handling",
            description:
                "Manual data processing is prone to errors and inconsistencies. Kestra’s automation capabilities minimize these risks by ensuring that data is handled consistently and accurately.",
        },
    ],
}

const CHALLENGES_TITLE = `<span class="highlight">Key Benefits</span> of Using Kestra for<br/> Healthcare Workflows`

const CARDS_DATA = [
    {
        icon: RefreshAuto,
        cardInfo: {
            title: "Healthcare Data Management",
            description:
                "Automates the integration and management of patient data from various sources, ensuring that records are always updated and accurate.",
        },
    },
    {
        icon: CommentQuoteOutline,
        cardInfo: {
            title: "Genomic Data Processing",
            description:
                "Process large volumes of genomic data quickly and accurately. Kestra automates sequencing workflows and data analysis, significantly cutting down processing times and minimizing errors.",
        },
    },
    {
        icon: ChartBellCurve,
        cardInfo: {
            title: "Regulatory Compliance",
            description:
                "Automate the generation of compliance reports, access logs, and data usage reports. Ensure compliance with regulatory standards reducing the risk of breaches and improving data governance.",
        },
    },
    {
        icon: FileChartOutline,
        cardInfo: {
            title: "Predictive Analytics",
            description:
                "Integrates your workflows with machine learning models and analytics platforms to utilize patient data for predictive analytics.",
        },
    },
    {
        icon: ImageFilterCenterFocus,
        cardInfo: {
            title: "Streamlined Data Management",
            description:
                "Centralize your fragmented data workflow into a unified control plane, thereby simplifying orchestration and improving efficiency.",
        },
    },
]
---

<Layout title={TITLE} description={DESCRIPTION}>
    <DetailsHero
        client:load
        title="Transform<br> <span>Healthcare</span> <br> with Automated<br> Workflows"
        description={DESCRIPTION}
        image={{
            src: "/landing/usecases/healthcare/header-hero.svg",
            alt: "Healthcare Workflows",
        }}
    />

    <Cards title={CHALLENGES_TITLE} cards={CARDS_DATA} />

    <BusinessStats
        items={[
            {
                type: "stat",
                icon: { src: ArrowUp },
                value: "200%",
                label: "Increased productivity",
            },
            {
                type: "quote",
                text: "“Kestra strong observability, ease of development,<br> and flexibility make it a versatile solution for<br> managing data pipelines in the field of genomics.”",
            },
            {
                type: "author",
                name: COMPANY_INFO.personName,
                role: COMPANY_INFO.personRole,
                logo: { src: COMPANY_INFO.logo, alt: COMPANY_INFO.logoAlt },
                class: "align-items-start",
            },
        ]}
    />

    <Unlock
        client:visible
        title="Healthcare Ecosystem"
        description="Kestra empowers data engineers, software engineers, and platform engineers in the healthcare industry to create custom workflows effortlessly, ensuring seamless operations and optimized performance across all processes."
        logo={{
            src: "/landing/usecases/healthcare/heart-pulse.svg",
            alt: "heart pulse",
        }}
        strokeColor="#3991FF"
        content={UNLOCK_CONTENT}
    />

    <div class="enterprise-edition">
        <HeaderBox client:visible />
    </div>
</Layout>
