---
import Layout from "~/components/layout.astro"
import DetailsHero from "~/components/use-cases/DetailsHero.vue"
import Alternation from "~/components/features/shared/Alternation.astro"
import Section from "~/components/layout/Section.vue"
import Enterprise from "~/components/use-cases/Enterprise.vue"
import Cards from "~/components/use-cases/Cards.astro"
import Capabilities from "~/components/use-cases/Capabilities.vue"
import FooterContact from "~/components/layout/FooterContact.astro"
import AlertCircle from "vue-material-design-icons/AlertCircle.vue"
import Cogs from "vue-material-design-icons/Cogs.vue"
import MathLog from "vue-material-design-icons/MathLog.vue"
import Speedometer from "vue-material-design-icons/Speedometer.vue"
import ToyBrickPlus from "vue-material-design-icons/ToyBrickPlus.vue"

const TITLE = "Simplify Infrastructure Monitoring"
const DESCRIPTION =
    "Automate infrastructure monitoring, implement alerting, and ensure optimal performance and reliability."

const CAPABILITIES = [
    "Continuous Integration/Continuous Deployment (CI/CD)",
    "Provisioning and Deployment",
    "Disaster Recovery",
]

const MAIN_CONTENT = [
    {
        title: "Quick Alerting",
        image: {
            src: "/landing/usecases/monitoring/quick-alerting.svg",
            alt: "Quick Alerting",
            width: 568,
            height: 420,
        },
        description:
            "Kestra enables alerting to help you maintain optimal performance and quickly address any issues that arise.",
        content: `
            <ul>
                <li>
                    Alerts:
                    <span>Set up alerts to notify your team of critical issues, ensuring rapid response and minimizing downtime.</span>
                </li>
            </ul>
        `,
    },
    {
        title: "Orchestrate your Monitoring Data",
        image: {
            src: "/landing/usecases/monitoring/monitoring-data.svg",
            alt: "Docker and Kubernetes",
            width: 568,
            height: 420,
        },
        description:
            "Orchestrate your monitoring data efficiently to maintain optimal performance and quickly address any issues that arise.",
        content: `
            <ul>
                <li>
                    Centralized Collection:
                    <span>
                       Orchestrate the collection of monitoring metrics from various sources, ensuring all relevant data is gathered in one place.
                    </span>
                </li>
                <li>
                    Data Transformation:
                    <span>
                         Use Kestra to automate the transformation of raw monitoring data into standardized formats, and enriches it.
                    </span>
                </li>
                <li>
                    Unified Platform:
                    <span>
                         Distribute transformed metrics to a centralized platform, such as a dashboard or monitoring system, enabling comprehensive visibility.
                    </span>
                </li>
            </ul>
        `,
    },
    {
        title: "Automate Incident Response",
        image: {
            src: "/landing/usecases/monitoring/incident-response.svg",
            alt: "Configuration Management and Compliance",
            width: 604,
            height: 477,
        },
        description:
            "Kestra's automation capabilities enable you to set up workflows that automatically respond to and remediate infrastructure issues, reducing the time to resolution and minimizing manual intervention.",
        content: `
            <ul>
                <li>
                    Incident Response:
                    <span>
                       Automate incident detection and response workflows to quickly address and resolve issues, ensuring minimal impact on your infrastructure.
                    </span>
                </li>
                <li>
                   Self-healing Systems:
                    <span>
                         Implement self-healing workflows that automatically correct issues, such as restarting services or reallocating resources, to maintain system stability.
                    </span>
                </li>
            </ul>
        `,
    },
]

const CHALLENGES_TITLE = `<span class="highlight">Key Benefits</span> of Using Kestra for<br/> Alerting`

const CARDS_DATA = [
    {
        icon: MathLog,
        cardInfo: {
            title: "Log Management",
            description:
                "Collect, analyze, and visualize log data to troubleshoot issues effectively.",
        },
    },
    {
        icon: AlertCircle,
        cardInfo: {
            title: "Minimize Errors",
            description:
                "Automation ensures consistency and accuracy, reducing the likelihood of human errors.",
        },
    },
    {
        icon: Speedometer,
        cardInfo: {
            title: "Rapid Response",
            description:
                "Alerts and automated incident response workflows ensure quick resolution of issues.",
        },
    },
    {
        icon: ToyBrickPlus,
        cardInfo: {
            title: "Extensibility",
            description:
                "Use built-in plugins or create custom plugins to seamlessly integrate with popular monitoring tools and services.",
        },
    },
    {
        icon: Cogs,
        cardInfo: {
            title: "Reduce Manual Effort",
            description:
                "Automate monitoring and alerting processes, allowing your team to focus on strategic initiatives.",
        },
    },
]
---

<Layout title={TITLE} description={DESCRIPTION}>
    <DetailsHero
        client:load
        title="Infrastructure <br> Monitoring"
        description="Automate infrastructure monitoring, implement alerting, and ensure optimal performance and reliability."
        image={{
            src: "/landing/usecases/monitoring/header-hero.svg",
            alt: "Infrastructure Monitoring",
        }}
    />

    <Alternation items={MAIN_CONTENT}>
        <Section
            subtitle="Infrastructure Monitoring"
            subtitleBefore="Simplify"
            class={"p-0 bg-transparent"}
            baseline="Kestra's monitoring capabilities and integrations empower platform engineers to maintain and optimize infrastructure performance efficiently."
        />
    </Alternation>

    <Enterprise title="Orchestrate infrastructure components using Kestra" client:visible />

    <Cards title={CHALLENGES_TITLE} cards={CARDS_DATA} />

    <Capabilities
        client:visible
        title="for Platform Orchestration"
        capabilities={CAPABILITIES}
    />

    <FooterContact
        client:visible
        title="Ready to take your Infrastructure to the next level ?"
    />
</Layout>
