---
import Layout from "~/components/layout.astro"
import Cards from "~/components/use-cases/Cards.astro"
import DetailsHero from "~/components/use-cases/DetailsHero.vue"
import Blueprints from "~/components/common/BlueprintsRender.vue"
import Capabilities from "~/components/use-cases/Capabilities.vue"
import HeaderBox from "~/components/common/HeaderBox.vue"
import { $fetchApi } from "~/utils/fetch"

const TITLE = "Orchestrate your Infrastructure with Kestra"
const DESCRIPTION =
    "Automate, Scale, Provision and Optimize Your Infrastructure with Kestra"

const CHALLENGES_TITLE = `Orchestrate your <span class="highlight">Infrastructure</span><br/>with Kestra`

const response = await $fetchApi<{ results: Blueprint[] }>(
    "/blueprints/versions/latest?page=1&size=20",
)
const blueprints = response.results

const CARDS_DATA = [
    {
        number: "01",
        title: "Comprehensive Integration",
        description:
            "Kestra integrates with leading infrastructure tools like Docker, Kubernetes, Ansible, and Terraform, providing a unified orchestration platform.",
    },
    {
        number: "02",
        title: "Scalability",
        description:
            "Scale your infrastructure to meet growing demands without compromising performance or reliability.",
    },
    {
        number: "03",
        title: "Automate Infrastructure Tasks",
        description:
            "Use Kestra to automate provisioning, deployment, and monitoring, ensuring smooth and efficient operations.",
    },
    {
        number: "04",
        title: "Manage Docker and Kubernetes",
        description:
            "Orchestrate containerized applications and services with ease, leveraging Docker and Kubernetes plugins.",
    },
    {
        number: "05",
        title: "Infrastructure as Code (IaC) with Ansible and Terraform",
        description:
            "Integrate IaC tools to manage and version your infrastructure configurations seamlessly.",
    },
    {
        number: "06",
        title: "Scalable Workload Management",
        description:
            "Kestra handles workload distribution and scaling, reducing the burden on your servers and improving performance.",
    },
    {
        number: "07",
        title: "Event-Driven Workflows",
        description:
            "Initiate workflows based on specific events such as system alerts, data changes, or scheduled times.",
    },
    {
        number: "08",
        title: "Enhanced Security and Compliance",
        description:
            "Maintain high standards of security and compliance with automated workflows that adhere to best practices.",
    },
]

const CAPABILITIES = [
    "Continuous Integration/Continuous Deployment (CI/CD)",
    "Provisioning and Deployment",
    "Disaster Recovery",
    "Infrastructure Monitoring",
]
---

<Layout title={TITLE} description={DESCRIPTION}>
    <DetailsHero
        client:visible
        title="Kestra for<br><span>Platform Engineers</span>"
        description={DESCRIPTION}
        image={{
            src: "/landing/usecases/platform-engineers/header-hero.svg",
            alt: "Kestra Infrastructure Workflows",
        }}
    />

    <Cards
        client:load
        title={CHALLENGES_TITLE}
        description="Kestra tackles the challenges platform engineers face by automating infrastructure orchestration, enhancing scalability, and ensuring seamless integrations."
        cards={CARDS_DATA}
    />

    <Blueprints blueprints={blueprints} client:load />

    <Capabilities
        client:load
        title="for Platform Orchestration"
        capabilities={CAPABILITIES}
    />

    <HeaderBox client:load />
</Layout>
