---
import Layout from "~/components/layout.astro"
import DetailsHero from "~/components/use-cases/DetailsHero.vue"
import Alternation from "~/components/features/shared/Alternation.astro"
import Section from "~/components/layout/Section.vue"
import Enterprise from "~/components/use-cases/Enterprise.vue"
import Cards from "~/components/use-cases/Cards.astro"
import Capabilities from "~/components/use-cases/Capabilities.vue"
import FooterContact from "~/components/layout/FooterContact.astro"
import AlertCircle from "vue-material-design-icons/AlertCircle.vue"
import ChartAreaspline from "vue-material-design-icons/ChartAreaspline.vue"
import CloudRefreshVariant from "vue-material-design-icons/CloudRefreshVariant.vue"
import Cogs from "vue-material-design-icons/Cogs.vue"
import TimerCogOutline from "vue-material-design-icons/TimerCogOutline.vue"

const TITLE = "Simplify Provisioning and Deployment with Kestra"
const DESCRIPTION =
    "Automate the setup and deployment of infrastructure components, reducing manual effort and errors."

const CAPABILITIES = [
    "Continuous Integration/Continuous Deployment (CI/CD)",
    "Infrastructure Monitoring",
    "Disaster Recovery",
]

const MAIN_CONTENT = [
    {
        title: "Infrastructure as Code",
        image: {
            src: "/landing/usecases/provisioning-and-deployment/infrastructure-code.svg",
            alt: "Infrastructure as Code",
            width: 568,
            height: 420,
        },
        description:
            "Kestra integrates with Terraform and Ansible, enabling platform engineers to define and manage infrastructure as code. This approach ensures that infrastructure setups are consistent, repeatable, and error-free.",
        content: `
            <ul>
                <li>
                    Automated Infrastructure Setup:
                    <span>
                        Use Terraform scripts and Ansible playbooks to automate the provisioning of servers, databases, and network resources.
                    </span>
                </li>
                <li>
                    Event-Driven Provisioning:
                    <span>
                       Trigger provisioning workflows based on specific events such as code commits or system alerts, ensuring timely and automated responses.
                    </span>
                </li>
            </ul>
        `,
    },
    {
        title: "Containerized Deployments with Docker and Kubernetes",
        image: {
            src: "/landing/usecases/provisioning-and-deployment/docker-kubernetes.svg",
            alt: "Docker and Kubernetes",
            width: 568,
            height: 420,
        },
        description:
            "Kestra seamlessly integrates with Docker and Kubernetes, simplifying the deployment of containerized applications. This ensures that deployments are efficient, scalable, and reliable.",
        content: `
            <ul>
                <li>
                    Orchestrate Containers:
                    <span>
                       Use Docker for packaging applications and Kubernetes for orchestrating containerized workloads, ensuring smooth and scalable deployments.
                    </span>
                </li>
                <li>
                    Real-time Monitoring:
                    <span>
                        Implement real-time monitoring to track the status of your deployments and quickly address any issues.
                    </span>
                </li>
            </ul>
        `,
    },
    {
        title: "Configuration Management and Compliance",
        image: {
            src: "/landing/usecases/databases/quick-recovery.svg",
            alt: "Configuration Management and Compliance",
            width: 604,
            height: 477,
        },
        description:
            "Maintain consistent configurations across all environments. Automate compliance checks and security audits as part of your deployment workflows.",
        content: `
            <ul>
                <li>
                    Version Control:
                    <span>
                       Manage and version your infrastructure configurations using Git, ensuring a clear history of changes and the ability to roll back if necessary.
                    </span>
                </li>
                <li>
                    Compliance Automation:
                    <span>
                         Ensure your infrastructure meets industry standards with automated compliance checks and security audits.
                    </span>
                </li>
            </ul>
        `,
    },
]

const CHALLENGES_TITLE = `<span class="highlight">Key Benefits</span> of Using Kestra for<br/> Provisioning and Deployment`

const CARDS_DATA = [
    {
        icon: Cogs,
        cardInfo: {
            title: "Reduce Manual Effort",
            description:
                "Automate repetitive tasks, allowing your team to focus on strategic initiatives.",
        },
    },
    {
        icon: AlertCircle,
        cardInfo: {
            title: "Minimize Errors",
            description:
                "Automation ensures consistency and accuracy, reducing the likelihood of human errors.",
        },
    },
    {
        icon: TimerCogOutline,
        cardInfo: {
            title: "Increase Efficiency",
            description:
                "Ensure infrastructure components are provisioned in a standardized manner.",
        },
    },
    {
        icon: ChartAreaspline,
        cardInfo: {
            title: "Scalability",
            description:
                "Easily scale your infrastructure to meet growing demands without compromising performance or reliability.",
        },
    },
    {
        icon: CloudRefreshVariant,
        cardInfo: {
            title: "Consistency",
            description:
                "Ensure uniform deployment across all environments, from development to production.",
        },
    },
]
---

<Layout title={TITLE} description={DESCRIPTION}>
    <DetailsHero
        client:load
        title="Provisioning <br> and Deployment"
        description="Automate, Scale, Provision and Optimize Your Infrastructure with Kestra"
        image={{
            src: "/landing/usecases/provisioning-and-deployment/header-hero.svg",
            alt: "Infrastructure Provisioning and Deployment",
        }}
    />

    <Alternation items={MAIN_CONTENT}>
        <Section
            subtitle="Provisioning and Deployment"
            subtitleBefore="Simplify"
            class={"p-0 bg-transparent"}
            baseline="Kestra's automation capabilities and extensive integrations empower platform engineers to manage infrastructure provisioning and deployment more efficiently."
        />
    </Alternation>

    <Enterprise title="Orchestrate infrastructure components using Kestra" client:visible />

    <Cards title={CHALLENGES_TITLE} cards={CARDS_DATA} />

    <Capabilities
        client:visible
        title="for Platform Orchestration"
        capabilities={CAPABILITIES}
    />

    <FooterContact
        client:visible
        title="Ready to take your Infrastructure to the next level ?"
    />
</Layout>
