---
import Layout from "~/components/layout.astro"
import RetailCard from "~/components/use-cases/Card.vue"
import Line from "~/components/use-cases/Line.vue"
import UseCasesExamples from "~/components/use-cases/Examples.vue"
import LeroyMerlin from "~/components/use-cases/retail/LeroyMerlin.vue"
import RetailOps from "~/components/use-cases/retail/RetailOps.vue"
import Plugins from "~/components/use-cases/retail/Plugins.vue"
import Footer from "~/components/use-cases/retail/Footer.vue"

const header = {
    title: "Kestra for Retail and Consuming goods",
    tag: 'Orchestrate Your <br /><span class="text-gradient">Retail Ecosystem</span><br />with Kestra',
    description:
        "From data pipelines to complex integrations, " +
        "Kestra empowers retail businesses with an event-driven," +
        " language-agnostic orchestration platform that scales as you grow.",
    cta: [
        {
            text: "Talk to us",
            href: "/demo",
            style: "btn btn-dark",
        },
        {
            text: "Get started",
            href: "/docs",
            style: "btn-animated btn-purple-animated btn",
        },
    ],
    image: {
        href: "/retail/header.svg",
        alt: "Header",
        style: "image-retail",
        width: "542px",
        height: "598px",
    },
}
const solutions = {
    title: "Use Cases in Retail",
    tag: "Use Cases in <span class='text-gradient'>Retail</span>",
    items: [
        {
            title: "Automated Inventory Management",
            text: "Eliminate manual tracking to use Kestra to automate your inventory management system.",
            icon: "/retail/use-cases/Icon_useCase1.svg",
        },
        {
            title: "Enhanced Customer Experience",
            text: "Use Kestra to collect, analyze, and use customer feedback. Automate the delivery of personalized promotions and recommendations based on customer data.",
            icon: "/retail/use-cases/Icon_useCase2.svg",
        },
        {
            title: "Compliance and Reporting",
            text: "Automate the reporting processes, ensuring that all data compiles with retail standards and regulations. Ideal for generating automated end-of-day sales reports, inventory counts, and more.",
            icon: "/retail/use-cases/Icon_useCase3.svg",
        },
        {
            title: "Report Automation for Supply Chain",
            text: "Automate supplier evaluation and order placement, ensuring a smooth and efficient supply chain operation.",
            icon: "/retail/use-cases/Icon_useCase4.svg",
        },
        {
            title: "Streamlined Data Management",
            text: "Centralize your fragmented data workflow into a unified control plane, thereby simplifying orchestration and improving efficiency.",
            icon: "/retail/use-cases/Icon_useCase5.svg",
        },
    ],
}

const leroy = {
    logo: {
        alt: "Leroy Logo",
        href: "/retail/leroy-merlin.svg",
        subtitle: "Customer Success",
        width: "127px",
        height: "76px",
    },
    alt: "Leroy",
    title: "Leroy Merlin France enabling data mesh architecture and 900% increase in productivity with Kestra",
    description:
        "Leroy Merlin France transformed data infrastructure by adopting" +
        " Kestra, enabling a data mesh architecture and achieving a remarkable 900% boost in productivity. " +
        "The shift empowered hundreds of data practitioners to create high-quality, scalable analytics, fundamentally " +
        "changing how data is managed and valued across the organization.",
    cta: {
        text: "Read the story",
        href: "/blogs/2023-08-16-datamesh",
        style: "btn-dark",
    },

    image: {
        href: "/retail/architecture.svg",
        alt: "leroy architecture",
        width: "722px",
        height: "594px",
    },
}

const ops = {
    title: "End-To-End Solution for Managing Complex Retail Operations",
    description:
        "Powers your business-critical retail applications, streamlines inventory, optimizes supply chain and much more. By breaking own organizational silos. Kestra fosters a collaborative environment for better operational efficiency.",
    items: [
        {
            title: "YAML-Based Workflows",
            text: "Build, maintain and scale, your workflows with Kestra's YAML-based interface.",
            icon: "/retail/solutions/Icon1.svg",
        },
        {
            title: "Full CI/CD Integration",
            text: "From Terraform to GitHub Actions, Kestra provides complete control over deployment and resource management.",
            icon: "/retail/solutions/Icon2.svg",
        },
        {
            title: "Language Agnostic",
            text: "Kestra's language-agnostic capabilities let you integrate various languages. Customize workflows to align with your unique retail business logic.",
            icon: "/retail/solutions/Icon3.svg",
        },
        {
            title: "Event-Driven Orchestration",
            text: "Kestra's event-driven capabilities ensure that your retail operations react in real time.",
            icon: "/retail/solutions/Icon4.svg",
        },
        {
            title: "Developer Centric Platform",
            text: "API-first design with robust, scalable, cloud-native architecture makes Kestra the go-to platform for software engineers in the retail industry.",
            icon: "/retail/solutions/Icon5.svg",
        },
        {
            title: "User-Friendly Interface",
            text: "Engineered to be intuitive for both developers and business professionals. Kestra facilitates quick and efficient workflow development.",
            icon: "/retail/solutions/Icon6.svg",
        },
    ],
}

const footer = {
    title: "Getting Started",
    cta: [
        {
            text: "Read the docs",
            href: "/docs",
            style: "btn-dark",
        },
        {
            text: "Get started",
            href: "/docs/quickstart#start-kestra",
            style: "btn-animated btn-purple-animated",
        },
    ],
}

const title = header.title
const description = header.description
---

<Layout title={title} description={description}>
    <div class="main">
        <RetailCard content={header} client:load />
        <Line client:visible />
        <UseCasesExamples content={solutions} client:visible />
        <Line client:visible />
        <LeroyMerlin content={leroy} client:visible />
        <Line client:visible />
        <RetailOps content={ops} client:visible />
        <Plugins client:visible />
        <Line client:visible />
        <Footer content={footer} client:visible />
    </div>
</Layout>

<style lang="scss">
    @import "~/assets/styles/variable";

    .main {
        background-color: $black-4;
        color: $white;
        font-weight: 300;
        padding-bottom: 3rem;
    }
</style>
