---
import Layout from "~/components/layout.astro"
import DetailsHero from "~/components/use-cases/DetailsHero.vue"
import Cards from "~/components/use-cases/Cards.astro"
import CustomerStory from "~/components/use-cases/CustomerStory.vue"
import FeaturePlugins from "~/components/layout/FeaturePlugins.astro"
import RetailOps from "~/components/use-cases/retail/RetailOps.vue"
import FooterContact from "~/components/layout/FooterContact.astro"
import ChartBellCurve from "vue-material-design-icons/ChartBellCurve.vue"
import CommentQuoteOutline from "vue-material-design-icons/CommentQuoteOutline.vue"
import FileChartOutline from "vue-material-design-icons/FileChartOutline.vue"
import ImageFilterCenterFocus from "vue-material-design-icons/ImageFilterCenterFocus.vue"
import RefreshAuto from "vue-material-design-icons/RefreshAuto.vue"
import LeroyMerlin from "~/assets/companies/leroy-merlin.svg?raw"

const HEADER = {
    title: "Kestra for Retail and Consuming goods",
    tag: 'Orchestrate Your <br /><span class="text-gradient">Retail Ecosystem</span><br />with Kestra',
    description:
        "From data pipelines to complex integrations, Kestra empowers retail businesses with an event-driven, language-agnostic orchestration platform that scales as you grow.",
    cta: [
        {
            text: "Talk to us",
            href: "/demo",
            style: "btn btn-dark",
        },
        {
            text: "Get started",
            href: "/docs",
            style: "btn-animated btn-purple-animated btn",
        },
    ],
    image: {
        href: "/retail/header.svg",
        alt: "Header",
        style: "image-retail",
        width: "542px",
        height: "598px",
    },
}

const SOLUTIONS = [
    {
        icon: RefreshAuto,
        title: "Automated Inventory Management",
        description:
            "Eliminate manual tracking to use Kestra to automate your inventory management system.",
    },
    {
        icon: CommentQuoteOutline,
        title: "Enhanced Customer Experience",
        description:
            "Use Kestra to collect, analyze, and use customer feedback. Automate the delivery of personalized promotions and recommendations based on customer data.",
    },
    {
        icon: ChartBellCurve,
        title: "Compliance and Reporting",
        description:
            "Automate the reporting processes, ensuring that all data compiles with retail standards and regulations. Ideal for generating automated end-of-day sales reports, inventory counts, and more.",
    },
    {
        icon: FileChartOutline,
        title: "Report Automation for Supply Chain",
        description:
            "Automate supplier evaluation and order placement, ensuring a smooth and efficient supply chain operation.",
    },
    {
        icon: ImageFilterCenterFocus,
        title: "Streamlined Data Management",
        description:
            "Centralize your fragmented data workflow into a unified control plane, thereby simplifying orchestration and improving efficiency.",
    },
]

const SOLUTIONS_TITLE = "Use Cases in <span class='highlight'>Retail</span>"

const LEROY = {
    logo: {
        alt: "Leroy Logo",
        src: LeroyMerlin,
        subtitle: "Customer Success",
        width: "127px",
        height: "76px",
    },
    alt: "Leroy",
    title:
        "Leroy Merlin France enabling data mesh architecture and 900% increase in productivity with Kestra",
    description:
        "Leroy Merlin France transformed data infrastructure by adopting Kestra, enabling a data mesh architecture and achieving a remarkable 900% boost in productivity. The shift empowered hundreds of data practitioners to create high-quality, scalable analytics, fundamentally changing how data is managed and valued across the organization.",
    cta: {
        text: "Read the story",
        href: "/blogs/2023-08-16-datamesh",
        style: "btn-dark",
    },
    image: {
        href: "/retail/architecture.svg",
        alt: "leroy architecture",
        width: "722px",
        height: "594px",
    },
}

const OPS = {
    title: "End-To-End Solution for Managing Complex Retail Operations",
    description:
        "Powers your business-critical retail applications, streamlines inventory, optimizes supply chain and much more. By breaking own organizational silos. Kestra fosters a collaborative environment for better operational efficiency.",
    items: [
        {
            title: "YAML-Based Workflows",
            text: "Build, maintain and scale, your workflows with Kestra's YAML-based interface.",
            icon: "/retail/solutions/Icon1.svg",
        },
        {
            title: "Full CI/CD Integration",
            text: "From Terraform to GitHub Actions, Kestra provides complete control over deployment and resource management.",
            icon: "/retail/solutions/Icon2.svg",
        },
        {
            title: "Language Agnostic",
            text: "Kestra's language-agnostic capabilities let you integrate various languages. Customize workflows to align with your unique retail business logic.",
            icon: "/retail/solutions/Icon3.svg",
        },
        {
            title: "Event-Driven Orchestration",
            text: "Kestra's event-driven capabilities ensure that your retail operations react in real time.",
            icon: "/retail/solutions/Icon4.svg",
        },
        {
            title: "Developer Centric Platform",
            text: "API-first design with robust, scalable, cloud-native architecture makes Kestra the go-to platform for software engineers in the retail industry.",
            icon: "/retail/solutions/Icon5.svg",
        },
        {
            title: "User-Friendly Interface",
            text: "Engineered to be intuitive for both developers and business professionals. Kestra facilitates quick and efficient workflow development.",
            icon: "/retail/solutions/Icon6.svg",
        },
    ],
}

const PLUGINS = {
    title: "Connect Your",
    highlight: "Entire Stack",
    description: "with Dedicated Plugins"
}

const FOOTER = {
    title: "Getting Started",
    cta: [
        {
            text: "Read the docs",
            href: "/docs",
            style: "btn-dark",
        },
        {
            text: "Get started",
            href: "/docs/quickstart#start-kestra",
            style: "btn-animated btn-purple-animated",
        },
    ],
}

const TITLE = HEADER.title
const DESCRIPTION = HEADER.description
---

<Layout title={TITLE} description={DESCRIPTION}>
        <DetailsHero
            client:load
            title={HEADER.tag}
            description={HEADER.description}
            image={{
                src: HEADER.image.href,
                alt: HEADER.image.alt,
                width: HEADER.image.width,
                height: HEADER.image.height,
                class: HEADER.image.style,
            }}
            actions={{
                dark: HEADER.cta[0],
                purple: HEADER.cta[1],
            }}
        />

        <Cards title={SOLUTIONS_TITLE} cards={SOLUTIONS} />

        <CustomerStory
            client:visible
            class="retail"
            title={LEROY.title}
            description={LEROY.description}
            image={{
                src: LEROY.image.href,
                alt: LEROY.image.alt,
            }}
            logo={{
                src: LEROY.logo.src,
                alt: LEROY.logo.alt,
                width: LEROY.logo.width,
            }}
            href={LEROY.cta.href}
        />

        <RetailOps
            title={OPS.title}
            description={OPS.description}
            items={OPS.items}
            client:visible
        />

        <FeaturePlugins content={PLUGINS} />

        <FooterContact
            client:visible
            title={FOOTER.title}
            dark={FOOTER.cta[0]}
            purple={FOOTER.cta[1]}
        />
</Layout>

<style lang="scss">
    @import "~/assets/styles/variable";

    .main {
        
        color: var(--ks-background-body);
        font-weight: 300;
        padding-bottom: 3rem;
    }
</style>
