---
import Layout from "~/components/layout.astro"
import HeaderSection from "~/components/use-cases/HeaderSection.vue"
import BlueprintsSection from "~/components/use-cases/BlueprintsSection.vue"
import CapabilitiesSection from "~/components/use-cases/CapabilitiesSection.vue"
import FeaturesFeatureEnterprise from "~/components/features/FeatureEnterprise.vue"
import CardSection from "~/components/use-cases/databases-management/CardSection.vue"

const title = "Orchestrate Your Software Development with Kestra"
const description =
    "Boost Productivity, Simplify Processes, and Accelerate Microservice Deployment Slug: kestra.io/use-cases/software-engineers"

const challengesTitle = `Orchestrate <span>Your Software</span><br/>Development with Kestra`

const cardsData = [
    {
        number: "01",
        title: "Automated Testing and QA",
        description:
            "Integrate automated testing workflows to run unit tests, integration tests, and end-to-end tests, ensuring code quality and reliability. Automate QA processes to identify issues earlier in the development cycle.",
    },
    {
        number: "02",
        title: "Database Management",
        description:
            "Orchestrate database migrations, backups, and restorations seamlessly within your development pipeline, ensuring data integrity and availability.",
    },
    {
        number: "03",
        title: "API Orchestration",
        description:
            "Manage and automate API deployments, scaling, and monitoring to ensure high availability and performance, simplifying the process of rolling out new features and updates.",
    },
    {
        number: "04",
        title: "Dependency Management",
        description:
            "Automate the management of dependencies, ensuring all necessary components are correctly installed and up-to-date, preventing version conflicts and ensuring consistency across environments.",
    },
    {
        number: "05",
        title: "Service Mesh Integration",
        description:
            "Integrate with service meshes to manage the communication between microservices, enhancing reliability, security, and observability of your applications.",
    },
    {
        number: "06",
        title: "Performance Optimization",
        description:
            "Automate performance testing and optimization workflows to ensure your applications run efficiently and can handle expected loads.",
    },
    {
        number: "07",
        title: "Incident Response and Resolution",
        description:
            "Automate incident detection and response workflows, ensuring quick resolution and minimal downtime. Implement automated alerts and self-healing processes to address issues proactively.",
    },
    {
        number: "08",
        title: "Business Process Automation",
        description:
            "Streamline and automate various business processes such as employee onboarding, approval workflows, and data synchronization, reducing manual workload and improving efficiency.",
    },
    {
        number: "09",
        title: "Continuous Feedback Loop",
        description:
            "Set up automated feedback loops to collect and integrate user feedback into the development process, enabling continuous improvement and user-centric development.",
    },
]

const capabilities = [
    "Microservice Management",
    "Database Management",
    "API Orchestration",
]
---

<Layout title={title} description={description}>
    <HeaderSection
        client:visible
        titleHtml="Kestra for<br><span>Software Engineers</span>"
        description="Boost Productivity, Simplify Processes, and Accelerate Microservice Deployment"
        imageSrc="/landing/usecases/software-engineers/header-hero.svg"
        imageAlt="Kestra Microservice"
    />
    <CardSection
        client:visible
        :titleHtml={challengesTitle}
        description="Kestra tackles the challenges software engineers face by automating development workflows, enhancing microservice orchestration, and ensuring seamless integrations."
        cardsData={cardsData}
    />
    <BlueprintsSection client:visible />
    <CapabilitiesSection
        client:visible
        title="for Software Engineering"
        sections={capabilities}
    />
    <FeaturesFeatureEnterprise client:visible />
</Layout>
