---
import { $fetchApiCached } from "~/utils/fetch"

import Layout from "~/components/layout.astro"
import TopHero from "~/components/layout/TopHero.astro"
import SeeHow from "~/components/common/SeeHow.astro"
import CardGrid from "~/components/card/CardGrid.astro"
import Capabilities from "~/components/use-cases/Capabilities.astro"
import BlueprintsGrid from "~/components/common/BlueprintsGrid.astro"

import heroFront from "~/assets/use-cases/software/hero-front.svg"
import microserviceManagement from "~/assets/use-cases/capabilities/microservice-management.svg"
import databaseManagement from "~/assets/use-cases/capabilities/database-management.svg"
import apiOrchestration from "~/assets/use-cases/capabilities/api-orchestration.svg"

const response = await $fetchApiCached<{ results: Blueprint[] }>(
    "/blueprints/versions/latest?tags=core&page=1&size=20",
)
const blueprints = response.results

const title = "Orchestrate Your Software Development with Kestra"
const description =
    "Boost Productivity, Simplify Processes, and Accelerate Microservice Deployment"

const CAPABILITIES = [
    {
        title: "Microservice Management",
        description:
            "Simplify the orchestration of microservices, ensuring efficient communication and coordination.",
        image: microserviceManagement,
        pageHref: "/use-cases/microservices-orchestration",
    },
    {
        title: "Database Management",
        description:
            "Orchestrate database migrations, backups, and restorations seamlessly within your development pipeline.",
        image: databaseManagement,
        pageHref: "/use-cases/databases-management",
    },
    {
        title: "API Orchestration",
        description:
            "Manage and automate API deployments, scaling, and monitoring to ensure high availability and performance.",
        image: apiOrchestration,
        pageHref: "/use-cases/provisioning-and-deployment",
    },
]

const ITEMS = [
    {
        number: "01",
        title: "Automated Testing and QA",
        description:
            "Integrate automated testing workflows to run unit tests, integration tests, and end-to-end tests, ensuring code quality and reliability. Automate QA processes to identify issues earlier in the development cycle.",
    },
    {
        number: "02",
        title: "Database Management",
        description:
            "Orchestrate database migrations, backups, and restorations seamlessly within your development pipeline, ensuring data integrity and availability.",
    },
    {
        number: "03",
        title: "API Orchestration",
        description:
            "Manage and automate API deployments, scaling, and monitoring to ensure high availability and performance, simplifying the process of rolling out new features and updates.",
    },
    {
        number: "04",
        title: "Dependency Management",
        description:
            "Automate the management of dependencies, ensuring all necessary components are correctly installed and up-to-date, preventing version conflicts and ensuring consistency across environments.",
    },
    {
        number: "05",
        title: "Service Mesh Integration",
        description:
            "Integrate with service meshes to manage the communication between microservices, enhancing reliability, security, and observability of your applications.",
    },
    {
        number: "06",
        title: "Performance Optimization",
        description:
            "Automate performance testing and optimization workflows to ensure your applications run efficiently and can handle expected loads.",
    },
    {
        number: "07",
        title: "Incident Response and Resolution",
        description:
            "Automate incident detection and response workflows, ensuring quick resolution and minimal downtime. Implement automated alerts and self-healing processes to address issues proactively.",
    },
    {
        number: "08",
        title: "Business Process Automation",
        description:
            "Streamline and automate various business processes such as employee onboarding, approval workflows, and data synchronization, reducing manual workload and improving efficiency.",
    },
    {
        number: "09",
        title: "Continuous Feedback Loop",
        description:
            "Set up automated feedback loops to collect and integrate user feedback into the development process, enabling continuous improvement and user-centric development.",
    },
]
---

<Layout {title} {description} headerTheme="lightText">
    <TopHero
        title="Kestra for <br /> Software Engineers"
        {description}
        image={heroFront}
    />
    <CardGrid
        title="Built for the Way Software Teams Work"
        subtitle="Kestra tackles the challenges software engineers face by automating development workflows, enhancing microservice orchestration, and ensuring seamless integrations."
        items={ITEMS}
    />

    <BlueprintsGrid
        title='Explore <span class="highlight">Software</span> blueprints'
        {blueprints}
        link={{
            href: "/blueprints?tags=core",
            text: "View more Core Blueprints",
        }}
    />

    <Capabilities
        title="for Software Orchestration"
        capabilities={CAPABILITIES}
    />

    <SeeHow>
        <Fragment slot="title"> Scale With Kestra Enterprise Edition </Fragment>
        Built for Enterprises and SMBs, with strong governance, enterprise-grade security,
        seamless scalability, and dedicated enterprise support backed by SLAs.
    </SeeHow>
</Layout>
