---
import NavSideBar from "~/components/docs/NavSideBar.vue"
import Layout from "~/components/layout.astro"
import { buildDocsNavigation } from "~/utils/buildDocsNavigation"
import Breadcrumb from "~/components/layout/Breadcrumb.vue"
import { generatePageNames, recursivePages } from "~/utils/navigation"
import squaredGridUrl from "~/assets/squared-grid.svg?url"

const navigation = await buildDocsNavigation()

const pageList = recursivePages(navigation[0])
const pageNames = generatePageNames(navigation[0])

interface Props {
    title?: string
    description?: string
    activeStem: string
    pageTitle?: string
    isHomePage?: boolean
    image?: string
}

const props = Astro.props as Props
---

<Layout title={props.title} description={props.description} image={props.image}>
    <link
        slot="head"
        rel="preload"
        as="image"
        href={squaredGridUrl}
        fetchpriority="high"
    />
    <div
        class:list={[
            "container-fluid",
            "bd-gutter",
            "bd-layout",
            "type-docs",
            { homepage: props.isHomePage },
        ]}
    >
        <NavSideBar
            type="docs"
            navigation={navigation}
            slug={props.activeStem}
            client:idle
            transition:persist
        />
        <article
            class:list={[
                "bd-main",
                "order-1",
                "docs",
                { homepage: props.isHomePage },
            ]}
        >
            <div class="bd-title">
                <Breadcrumb
                    slug={props.activeStem}
                    pageList={pageList}
                    pageNames={pageNames}
                    pageTitle={props.pageTitle}
                />
                <slot name="title" />
            </div>
            <slot name="headings" />

            <div class="layout-docs">
                <div class="bd-content">
                    <slot />
                </div>
            </div>
        </article>
    </div>
</Layout>

<style lang="scss">
    .container-fluid {
        background: var(--ks-background-body) url("~/assets/squared-grid.svg")
            no-repeat top center / 1400px auto;
        gap: 4rem;
        padding-left: 1rem;
        padding-right: 1rem;
        max-width: 1520px;
        width: 100%;
        overflow: clip !important;
        z-index: 10;

        @include media-breakpoint-down(md) {
            gap: 2rem;
            padding-left: 0.75rem;
            padding-right: 0.75rem;
        }

        @include media-breakpoint-down(sm) {
            background: var(--ks-background-body);
            gap: 1rem;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }

        .bd-title {
            h1 {
                word-wrap: break-word;
                overflow-wrap: break-word;

                @include media-breakpoint-down(md) {
                    max-width: 100%;
                }
            }

            @include media-breakpoint-up(lg) {
                margin-top: 4rem;
            }

            @include media-breakpoint-down(md) {
                margin-top: 2rem;
            }
        }

        .bd-content {
            margin: 0 auto 2em auto;
            box-sizing: border-box;
            width: auto;

            @include media-breakpoint-down(xl) {
                margin-left: -2rem;
                padding-left: 2.5rem;
                padding-right: 0.5rem;
            }
        }

        .title {
            font-size: $h2-font-size;
            line-height: 3.25rem;
            margin: 0 auto;
            max-width: 100%;
            word-wrap: break-word;
            overflow-wrap: break-word;
            margin-bottom: 0;

            @include media-breakpoint-down(md) {
                font-size: $h3-font-size;
                line-height: 2.5rem;
            }
        }
    }

    :global(.medium-zoom-image) {
        max-width: 100%;
        max-height: 100%;
    }
</style>
