---
import FeatureLayout from "~/components/layouts/FeatureLayout.astro"
import CardGrid from "~/components/features/shared/CardGrid.astro"
import Alternation from "~/components/features/shared/Alternation.astro"
import Header from "~/components/features/shared/Header.vue"
import SideBySide from "~/components/features/shared/SideBySide.vue"
import CenteredContent from "~/components/features/shared/CenteredContent.vue"

const TITLE = "Schedule all your workflows with Kestra"
const DESCRIPTION = "Automate scheduled and event-driven workflows with Kestra."

const HEADER_DATA = {
    title: `<span class="title-1">Scheduling</span> and <span class="title-2">Automation</span>`,
    description: "Automate scheduled and event-driven workflows with Kestra",
    cta: [
        { text: "Talk to us", href: "/demo", style: "dark" },
        {
            text: "Get started",
            href: "/docs/quickstart",
            style: "purple",
        },
    ],
    image: {
        src: "/landing/features/scheduling/header/header.svg",
        alt: "A screenshot of the Scheduling page",
        width: "806px",
        height: "601px",
    },
}

const FEATURE_DATA = {
    title: `Build, Schedule, and Automate <span class="title-animate">All Your Workflows</span>`,
    description:
        "Kestra simplifies your scheduling and automation tasks through its declarative language, making workflow management straightforward. Build to meet the high standards of software engineers, it's designed to be user-friendly for both engineers and business stakeholders.",
    image: {
        src: "/landing/features/scheduling/feature/workflow.svg",
        alt: "A screenshot of the Scheduling Page",
        width: "568px",
        height: "144px",
    },
}

const WORKFLOWS_DATA = [
    {
        title: "Centralized Control",
        description:
            "Kestra serves as a unified platform that allows you to automate and schedule tasks across a wide range of business-critical systems. From CRM and ERP to Big Data and Business Intelligence, Kestra ensures that all your systems work together seamlessly, requiring minimal human intervention.",
        imgClass: "workflow-image mask",
        image: {
            src: "/landing/features/scheduling/workflow/workflow_1.svg",
            alt: "Centralized Control",
            width: "431px",
            height: "347px",
            class: "p-3 mw-100",
        },
    },
    {
        title: "Event-Driven Workflows Without Spaghetti Code",
        description:
            "Whether you're looking to trigger flows based on the results of other flows, file detection from various sources like SFTP or Google Cloud Storage, or even the outcomes of SQL queries, Kestra offers a versatile set of triggers to meet all your automation needs.",
        imgClass: "workflow-image",
        image: {
            src: "/landing/features/scheduling/workflow/workflow_2.svg",
            alt: "Event Driven",
            width: "456px",
            height: "668px",
            class: "mw-100",
        },
    },
    {
        title: "Everything as Code",
        description:
            "Manage your resources programmatically, ensuring reproducibility, version control, and seamless collaboration.",
        imgClass: "workflow-image mask-1",
        image: {
            src: "/landing/features/scheduling/workflow/workflow_3.svg",
            alt: "Everything as code",
            width: "508px",
            height: "385px",
            class: "mw-100",
        },
    },
]

const PLUGIN_DATA = {
    title: `Connect Your <span class="title-animated"> Entire Tech Stack</span> with Dedicated Plugins`,
    description:
        "Integrate with your existing technology landscape using Kestra's robust plugin architecture. From databases and cloud services to custom applications, plugins enable you to connect, schedule, and automate your entire tech stack.",
    cta: {
        text: "See all Plugins",
        href: "/plugins",
    },
    image: {
        src: "/landing/features/scheduling/workflow/workflow_4.svg",
        alt: "Logos of tools that integrate with Kestra such as Snowflake, Airbyte, DBT or Fivetran and Kestra at the center of It",
        width: "694px",
        height: "517px",
    },
}

const AUTOMATION_DATA = {
    title: `Automation and Scheduling <span> Features</span>`,
    items: [
        {
            title: "Backfill Support",
            description:
                "Kestra's Backfills can automatically catch up on missed workflows after an outage. You can trigger backfills from the UI without having to redeploy your code.",
            icon: {
                src: "/landing/features/scheduling/automation/Icon_auto.svg",
                alt: "BackFill pattern svg",
                width: "69px",
                height: "69px",
            },
        },
        {
            title: "Time-Based Scheduling",
            description:
                "Kestra provides versatile scheduling options for timely and reliable task execution, from regular intervals to condition-based triggers.",
            class: "mask",
            icon: {
                src: "/landing/features/scheduling/automation/Icon_auto1.svg",
                alt: "Tune-Based svg",
                width: "69px",
                height: "69px",
            },
        },
        {
            title: "Event-Driven Triggers",
            description:
                "Initiate workflows based on real-time events, and schedule them to listen for specific events at designated times.",
            icon: {
                src: "/landing/features/scheduling/automation/Icon_auto2.svg",
                alt: "Event-Driven svg",
                width: "69px",
                height: "69px",
            },
        },
        {
            title: "API-Based Triggers",
            description:
                "Leverage API-based triggers for smooth integration with your existing systems, allowing automated workflows to adapt to external conditions.",
            icon: {
                src: "/landing/features/scheduling/automation/Icon_auto3.svg",
                alt: "API-Based svg",
                width: "69px",
                height: "69px",
            },
        },
        {
            title: "Modularity with Subflows",
            description:
                "Build modular and reusable reusable components. Write your logic once and call it from any other workflow when needed. Pass data between flows for seamless orchestration.",
            icon: {
                src: "/landing/features/scheduling/automation/Icon_auto4.svg",
                alt: "Subflow svg",
                width: "69px",
                height: "69px",
            },
        },
    ],
}
---

<FeatureLayout
    meta={{ title: TITLE, description: DESCRIPTION }}
    footer={{
        title: "Getting Started",
        links: {
            dark: { text: "Read the docs", href: "/docs" },
            purple: { text: "Get started", href: "/docs/getting-started" },
        },
    }}
>
    <Header
        client:load
        title={HEADER_DATA.title}
        description={HEADER_DATA.description}
        cta={HEADER_DATA.cta}
        image={HEADER_DATA.image}
    />
    <CenteredContent
        client:visible
        title={FEATURE_DATA.title}
        description={FEATURE_DATA.description}
        image={FEATURE_DATA.image}
    />
    <Alternation items={WORKFLOWS_DATA} />
    <SideBySide
        client:visible
        title={PLUGIN_DATA.title}
        description={PLUGIN_DATA.description}
        cta={PLUGIN_DATA.cta}
        image={PLUGIN_DATA.image}
    />
    <CardGrid title={AUTOMATION_DATA.title} items={AUTOMATION_DATA.items} />
</FeatureLayout>
