---
const { class: className, ...rest } = Astro.props
---

<style>
    .kestra-widget {
        position: relative;
        width: 554px;
        height: 396px;
        background-color: #131316;
        overflow: hidden;
    }
    .kestra-widget svg,
    .kestra-widget canvas {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        pointer-events: none;
    }
    .kestra-widget svg {
        z-index: 1;
    }
    .kestra-widget .glow {
        z-index: 2;
    }
    .kestra-widget .ptcl {
        z-index: 3;
    }
</style>

<div class:list={["kestra-widget", className]} {...rest}>
    <svg
        width="554"
        height="396"
        viewBox="0 0 554 396"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <g clip-path="url(#kw-clip)">
            <rect width="554" height="396" rx="8" fill="#131316"></rect>

            <!-- Wordmark -->
            <path
                d="M206.246 72.5869V60.0269H208.906V72.5869H206.246ZM201.806 60.3069V58.0069H213.406V60.3069H201.806ZM215.108 72.5869V58.0069H217.608V63.9669H217.728C218.034 63.2202 218.501 62.6669 219.128 62.3069C219.754 61.9336 220.454 61.7469 221.228 61.7469C221.761 61.7469 222.254 61.8336 222.708 62.0069C223.174 62.1669 223.574 62.4269 223.908 62.7869C224.254 63.1336 224.521 63.5936 224.708 64.1669C224.908 64.7269 225.008 65.4069 225.008 66.2069V72.5869H222.508V66.7469C222.508 66.0802 222.428 65.5336 222.268 65.1069C222.108 64.6669 221.861 64.3402 221.528 64.1269C221.208 63.9136 220.788 63.8069 220.268 63.8069C219.708 63.8069 219.228 63.9402 218.828 64.2069C218.441 64.4736 218.141 64.8269 217.928 65.2669C217.714 65.7069 217.608 66.1936 217.608 66.7269V72.5869H215.108ZM232.086 72.7669C231.006 72.7669 230.086 72.5469 229.326 72.1069C228.58 71.6536 228.006 71.0202 227.606 70.2069C227.206 69.3802 227.006 68.4202 227.006 67.3269C227.006 66.1936 227.206 65.2136 227.606 64.3869C228.006 63.5469 228.58 62.9002 229.326 62.4469C230.073 61.9936 230.96 61.7669 231.986 61.7669C233.16 61.7669 234.12 62.0269 234.866 62.5469C235.626 63.0536 236.173 63.7602 236.506 64.6669C236.84 65.5736 236.953 66.6136 236.846 67.7869H229.446C229.446 68.4669 229.553 69.0402 229.766 69.5069C229.993 69.9602 230.3 70.3069 230.686 70.5469C231.086 70.7736 231.553 70.8869 232.086 70.8869C232.713 70.8869 233.22 70.7536 233.606 70.4869C234.006 70.2202 234.273 69.8669 234.406 69.4269H236.766C236.66 70.1202 236.393 70.7202 235.966 71.2269C235.54 71.7202 234.993 72.1002 234.326 72.3669C233.66 72.6336 232.913 72.7669 232.086 72.7669ZM229.446 66.4469L229.226 66.1869H234.646L234.406 66.4669C234.433 65.8136 234.346 65.2802 234.146 64.8669C233.946 64.4536 233.66 64.1469 233.286 63.9469C232.913 63.7469 232.48 63.6469 231.986 63.6469C231.48 63.6469 231.04 63.7536 230.666 63.9669C230.293 64.1802 230 64.5002 229.786 64.9269C229.573 65.3402 229.46 65.8469 229.446 66.4469ZM252.533 72.5869L248.273 65.9669L245.833 68.6269V65.5069L252.393 58.0069H255.573L250.073 64.0669L255.653 72.5869H252.533ZM243.373 72.5869V58.0069H246.013V72.5869H243.373ZM261.285 72.7669C260.205 72.7669 259.285 72.5469 258.525 72.1069C257.779 71.6536 257.205 71.0202 256.805 70.2069C256.405 69.3802 256.205 68.4202 256.205 67.3269C256.205 66.1936 256.405 65.2136 256.805 64.3869C257.205 63.5469 257.779 62.9002 258.525 62.4469C259.272 61.9936 260.159 61.7669 261.185 61.7669C262.359 61.7669 263.319 62.0269 264.065 62.5469C264.825 63.0536 265.372 63.7602 265.705 64.6669C266.039 65.5736 266.152 66.6136 266.045 67.7869H258.645C258.645 68.4669 258.752 69.0402 258.965 69.5069C259.192 69.9602 259.499 70.3069 259.885 70.5469C260.285 70.7736 260.752 70.8869 261.285 70.8869C261.912 70.8869 262.419 70.7536 262.805 70.4869C263.205 70.2202 263.472 69.8669 263.605 69.4269H265.965C265.859 70.1202 265.592 70.7202 265.165 71.2269C264.739 71.7202 264.192 72.1002 263.525 72.3669C262.859 72.6336 262.112 72.7669 261.285 72.7669ZM258.645 66.4469L258.425 66.1869H263.845L263.605 66.4669C263.632 65.8136 263.545 65.2802 263.345 64.8669C263.145 64.4536 262.859 64.1469 262.485 63.9469C262.112 63.7469 261.679 63.6469 261.185 63.6469C260.679 63.6469 260.239 63.7536 259.865 63.9669C259.492 64.1802 259.199 64.5002 258.985 64.9269C258.772 65.3402 258.659 65.8469 258.645 66.4469ZM272.094 72.7869C271.387 72.7869 270.754 72.7069 270.194 72.5469C269.647 72.3736 269.174 72.1402 268.774 71.8469C268.387 71.5402 268.08 71.1802 267.854 70.7669C267.64 70.3402 267.527 69.8669 267.514 69.3469H269.974C270.014 69.7336 270.127 70.0469 270.314 70.2869C270.5 70.5269 270.747 70.7069 271.054 70.8269C271.374 70.9336 271.74 70.9869 272.154 70.9869C272.794 70.9869 273.274 70.8736 273.594 70.6469C273.927 70.4069 274.094 70.0802 274.094 69.6669C274.094 69.3336 274.014 69.0802 273.854 68.9069C273.707 68.7202 273.467 68.5802 273.134 68.4869C272.814 68.3802 272.38 68.2869 271.834 68.2069C270.927 68.0736 270.174 67.8936 269.574 67.6669C268.974 67.4269 268.527 67.1002 268.234 66.6869C267.94 66.2736 267.794 65.7269 267.794 65.0469C267.794 64.3802 267.974 63.8002 268.334 63.3069C268.707 62.8136 269.22 62.4336 269.874 62.1669C270.527 61.8869 271.287 61.7469 272.154 61.7469C273.007 61.7469 273.747 61.8802 274.374 62.1469C275 62.4136 275.487 62.7936 275.834 63.2869C276.194 63.7802 276.387 64.3536 276.414 65.0069H273.954C273.954 64.6602 273.867 64.3802 273.694 64.1669C273.534 63.9536 273.314 63.7936 273.034 63.6869C272.767 63.5802 272.454 63.5269 272.094 63.5269C271.534 63.5269 271.094 63.6469 270.774 63.8869C270.454 64.1136 270.294 64.4269 270.294 64.8269C270.294 65.1202 270.374 65.3602 270.534 65.5469C270.707 65.7202 270.98 65.8602 271.354 65.9669C271.727 66.0736 272.207 66.1669 272.794 66.2469C273.647 66.3669 274.354 66.5402 274.914 66.7669C275.487 66.9936 275.914 67.3202 276.194 67.7469C276.487 68.1736 276.634 68.7402 276.634 69.4469C276.634 70.1536 276.44 70.7602 276.054 71.2669C275.68 71.7602 275.154 72.1402 274.474 72.4069C273.794 72.6602 273 72.7869 272.094 72.7869ZM282.222 72.5869C281.368 72.5869 280.728 72.3869 280.302 71.9869C279.888 71.5736 279.682 70.9202 279.682 70.0269V63.9669H277.722V61.9469H279.682V58.9469L282.182 58.6869V61.9469H284.422V63.9669H282.182V69.5669C282.182 69.9269 282.262 70.1802 282.422 70.3269C282.595 70.4602 282.842 70.5269 283.162 70.5269H284.442V72.5869H282.222ZM286.455 72.5869V61.9469H288.715L288.835 63.7269H288.915C289.155 63.0469 289.542 62.5602 290.075 62.2669C290.622 61.9602 291.242 61.8069 291.935 61.8069C292.055 61.8069 292.162 61.8069 292.255 61.8069C292.362 61.8069 292.462 61.8069 292.555 61.8069V64.1669C292.475 64.1669 292.375 64.1669 292.255 64.1669C292.149 64.1536 292.029 64.1469 291.895 64.1469C291.255 64.1469 290.722 64.2536 290.295 64.4669C289.869 64.6669 289.542 64.9602 289.315 65.3469C289.102 65.7336 288.982 66.2069 288.955 66.7669V72.5869H286.455ZM297.814 72.7669C297.161 72.7669 296.568 72.6469 296.034 72.4069C295.501 72.1536 295.041 71.7936 294.654 71.3269C294.268 70.8469 293.968 70.2669 293.754 69.5869C293.554 68.8936 293.454 68.1202 293.454 67.2669C293.454 66.1069 293.634 65.1136 293.994 64.2869C294.368 63.4602 294.881 62.8336 295.534 62.4069C296.188 61.9669 296.948 61.7469 297.814 61.7469C298.374 61.7469 298.881 61.8336 299.334 62.0069C299.801 62.1802 300.194 62.4269 300.514 62.7469C300.848 63.0669 301.094 63.4402 301.254 63.8669H301.394L301.494 61.9469H303.854V72.5869H301.494L301.394 70.6469H301.254C301.028 71.2869 300.608 71.8002 299.994 72.1869C299.381 72.5736 298.654 72.7669 297.814 72.7669ZM298.694 70.7269C299.281 70.7269 299.768 70.6002 300.154 70.3469C300.554 70.0802 300.854 69.7269 301.054 69.2869C301.254 68.8469 301.354 68.3602 301.354 67.8269V66.6869C301.354 66.1402 301.248 65.6469 301.034 65.2069C300.834 64.7669 300.534 64.4202 300.134 64.1669C299.748 63.9136 299.288 63.7869 298.754 63.7869C298.154 63.7869 297.648 63.9269 297.234 64.2069C296.834 64.4736 296.528 64.8669 296.314 65.3869C296.101 65.9069 295.994 66.5336 295.994 67.2669C295.994 67.9736 296.094 68.5869 296.294 69.1069C296.508 69.6269 296.814 70.0269 297.214 70.3069C297.614 70.5869 298.108 70.7269 298.694 70.7269ZM313.469 72.5869L310.009 58.0069H312.929L314.589 66.0669L315.309 70.1269H315.449L316.209 66.0669L317.949 58.0069H321.249L322.989 65.8469L323.789 70.1469H323.929L324.649 65.8469L326.249 58.0069H329.169L325.709 72.5869H322.049L320.489 65.3869L319.669 60.9469H319.529L318.689 65.3869L317.109 72.5869H313.469ZM334.201 72.7669C333.548 72.7669 332.954 72.6469 332.421 72.4069C331.888 72.1536 331.428 71.7936 331.041 71.3269C330.654 70.8469 330.354 70.2669 330.141 69.5869C329.941 68.8936 329.841 68.1202 329.841 67.2669C329.841 66.1069 330.021 65.1136 330.381 64.2869C330.754 63.4602 331.268 62.8336 331.921 62.4069C332.574 61.9669 333.334 61.7469 334.201 61.7469C334.761 61.7469 335.268 61.8336 335.721 62.0069C336.188 62.1802 336.581 62.4269 336.901 62.7469C337.234 63.0669 337.481 63.4402 337.641 63.8669H337.781L337.881 61.9469H340.241V72.5869H337.881L337.781 70.6469H337.641C337.414 71.2869 336.994 71.8002 336.381 72.1869C335.768 72.5736 335.041 72.7669 334.201 72.7669ZM335.081 70.7269C335.668 70.7269 336.154 70.6002 336.541 70.3469C336.941 70.0802 337.241 69.7269 337.441 69.2869C337.641 68.8469 337.741 68.3602 337.741 67.8269V66.6869C337.741 66.1402 337.634 65.6469 337.421 65.2069C337.221 64.7669 336.921 64.4202 336.521 64.1669C336.134 63.9136 335.674 63.7869 335.141 63.7869C334.541 63.7869 334.034 63.9269 333.621 64.2069C333.221 64.4736 332.914 64.8669 332.701 65.3869C332.488 65.9069 332.381 66.5336 332.381 67.2669C332.381 67.9736 332.481 68.5869 332.681 69.1069C332.894 69.6269 333.201 70.0269 333.601 70.3069C334.001 70.5869 334.494 70.7269 335.081 70.7269ZM342.74 75.9269V73.8669H343.94C344.247 73.8669 344.507 73.8269 344.72 73.7469C344.933 73.6669 345.113 73.5402 345.26 73.3669C345.407 73.1936 345.533 72.9736 345.64 72.7069L346.2 71.2469V72.3069L341.86 61.9469H344.62L346.52 67.4669L347.18 69.4669H347.28L347.9 67.4669L349.68 61.9469H352.36L348.08 73.2869C347.827 73.9669 347.52 74.5002 347.16 74.8869C346.813 75.2736 346.407 75.5402 345.94 75.6869C345.487 75.8469 344.967 75.9269 344.38 75.9269H342.74Z"
                fill="white"></path>

            <!-- Main card group -->
            <g filter="url(#kw-shadow)">
                <mask id="kw-mask" fill="white">
                    <path
                        d="M106.268 103.407C106.268 96.8789 111.56 91.5869 118.088 91.5869H435.912C442.44 91.5869 447.732 96.8789 447.732 103.407V306.593C447.732 313.121 442.44 318.413 435.912 318.413H118.088C111.56 318.413 106.268 313.121 106.268 306.593V103.407Z"
                    ></path>
                </mask>
                <path
                    d="M106.268 103.407C106.268 96.8789 111.56 91.5869 118.088 91.5869H435.912C442.44 91.5869 447.732 96.8789 447.732 103.407V306.593C447.732 313.121 442.44 318.413 435.912 318.413H118.088C111.56 318.413 106.268 313.121 106.268 306.593V103.407Z"
                    fill="#0E0E10"></path>
                <path
                    d="M118.088 91.5869V92.0869H435.912V91.5869V91.0869H118.088V91.5869ZM447.732 103.407H447.232V306.593H447.732H448.232V103.407H447.732ZM435.912 318.413V317.913H118.088V318.413V318.913H435.912V318.413ZM106.268 306.593H106.768V103.407H106.268H105.768V306.593H106.268ZM118.088 318.413V317.913C111.836 317.913 106.768 312.845 106.768 306.593H106.268H105.768C105.768 313.397 111.284 318.913 118.088 318.913V318.413ZM447.732 306.593H447.232C447.232 312.845 442.164 317.913 435.912 317.913V318.413V318.913C442.716 318.913 448.232 313.397 448.232 306.593H447.732ZM435.912 91.5869V92.0869C442.164 92.0869 447.232 97.155 447.232 103.407H447.732H448.232C448.232 96.6027 442.716 91.0869 435.912 91.0869V91.5869ZM118.088 91.5869V91.0869C111.284 91.0869 105.768 96.6027 105.768 103.407H106.268H106.768C106.768 97.155 111.836 92.0869 118.088 92.0869V91.5869Z"
                    fill="url(#kw-border-grad)"
                    mask="url(#kw-mask)"></path>

                <!-- Kestra card -->
                <rect
                    x="127.531"
                    y="112.85"
                    width="298.938"
                    height="65.2025"
                    rx="15.5099"
                    fill="#131316"></rect>
                <rect
                    x="127.531"
                    y="112.85"
                    width="298.938"
                    height="65.2025"
                    rx="15.5099"
                    stroke="#7B3FCC"
                    stroke-width="0.8"
                    stroke-opacity="0.7"></rect>
                <!-- Kestra logo diamonds -->
                <path
                    d="M233.367 142.285C233.902 141.75 234.769 141.75 235.303 142.285L237.502 144.483C238.037 145.018 238.037 145.885 237.502 146.42L235.303 148.618C234.769 149.153 233.902 149.153 233.367 148.618L231.168 146.42C230.633 145.885 230.633 145.018 231.168 144.483L233.367 142.285Z"
                    fill="#A950FF"></path>
                <path
                    d="M243.492 142.267C244.018 141.742 244.869 141.742 245.395 142.267L247.628 144.5C248.153 145.025 248.153 145.877 247.628 146.402L245.395 148.635C244.869 149.161 244.018 149.161 243.492 148.635L241.259 146.402C240.734 145.877 240.734 145.025 241.259 144.5L243.492 142.267Z"
                    fill="#A950FF"></path>
                <path
                    d="M233.384 132.159C233.909 131.634 234.761 131.634 235.286 132.159L237.519 134.392C238.044 134.917 238.044 135.769 237.519 136.294L235.286 138.527C234.761 139.053 233.909 139.053 233.384 138.527L231.151 136.294C230.626 135.769 230.626 134.917 231.151 134.392L233.384 132.159Z"
                    fill="#E9C1FF"></path>
                <path
                    d="M232.448 139.429C232.983 139.964 232.983 140.831 232.448 141.366L230.25 143.564C229.715 144.099 228.848 144.099 228.313 143.564L226.115 141.366C225.58 140.831 225.58 139.964 226.115 139.429L228.313 137.231C228.848 136.696 229.715 136.696 230.25 137.231L232.448 139.429Z"
                    fill="#CD88FF"></path>
                <path
                    d="M227.411 144.5C227.936 145.025 227.936 145.877 227.411 146.402L225.178 148.635C224.653 149.161 223.801 149.161 223.276 148.635L221.043 146.402C220.518 145.877 220.518 145.025 221.043 144.5L223.276 142.267C223.801 141.742 224.653 141.742 225.178 142.267L227.411 144.5Z"
                    fill="#A950FF"></path>
                <path
                    d="M242.556 139.429C243.091 139.964 243.091 140.831 242.556 141.366L240.358 143.564C239.823 144.099 238.956 144.099 238.421 143.564L236.223 141.366C235.688 140.831 235.688 139.964 236.223 139.429L238.421 137.231C238.956 136.696 239.823 136.696 240.358 137.231L242.556 139.429Z"
                    fill="#CD88FF"></path>
                <path
                    d="M236.499 153.867C237.694 155.062 237.694 156.999 236.499 158.194C235.304 159.389 233.367 159.389 232.172 158.194C230.977 156.999 230.977 155.062 232.172 153.867C233.367 152.673 235.304 152.673 236.499 153.867Z"
                    fill="#F62E76"></path>
                <!-- Kestra card label -->
                <path
                    d="M269.398 153.451L265.3 146.853L262.947 149.459V145.634L269.293 138.133H273.201L267.528 144.5L273.264 153.451H269.398ZM259.879 153.451V138.133H263.157V153.451H259.879ZM279.217 153.661C278.041 153.661 277.039 153.423 276.213 152.947C275.4 152.471 274.777 151.798 274.342 150.93C273.908 150.061 273.691 149.052 273.691 147.904C273.691 146.685 273.908 145.634 274.342 144.752C274.791 143.869 275.414 143.19 276.213 142.713C277.025 142.223 277.985 141.978 279.091 141.978C280.38 141.978 281.431 142.258 282.243 142.819C283.07 143.379 283.665 144.149 284.029 145.13C284.394 146.111 284.513 147.231 284.387 148.492H276.717C276.717 149.108 276.815 149.634 277.011 150.068C277.221 150.488 277.515 150.804 277.894 151.014C278.272 151.224 278.713 151.329 279.217 151.329C279.806 151.329 280.282 151.21 280.646 150.972C281.011 150.733 281.256 150.418 281.382 150.026H284.303C284.191 150.768 283.903 151.413 283.441 151.959C282.979 152.492 282.383 152.912 281.655 153.22C280.941 153.514 280.128 153.661 279.217 153.661ZM276.717 146.874L276.444 146.58H281.655L281.361 146.874C281.389 146.286 281.305 145.809 281.109 145.445C280.926 145.067 280.66 144.78 280.31 144.584C279.974 144.387 279.568 144.289 279.091 144.289C278.615 144.289 278.195 144.394 277.831 144.605C277.48 144.801 277.207 145.095 277.011 145.487C276.829 145.865 276.731 146.328 276.717 146.874ZM290.777 153.661C290.02 153.661 289.341 153.577 288.739 153.409C288.136 153.227 287.618 152.975 287.184 152.653C286.763 152.33 286.434 151.945 286.196 151.497C285.958 151.035 285.832 150.53 285.818 149.984H288.865C288.907 150.334 289.012 150.621 289.18 150.846C289.348 151.056 289.572 151.217 289.852 151.329C290.146 151.427 290.483 151.476 290.861 151.476C291.435 151.476 291.862 151.371 292.143 151.161C292.437 150.951 292.584 150.663 292.584 150.299C292.584 150.005 292.514 149.781 292.374 149.627C292.234 149.459 292.003 149.333 291.68 149.249C291.372 149.15 290.952 149.066 290.42 148.996C289.453 148.842 288.647 148.639 288.003 148.387C287.359 148.135 286.882 147.785 286.574 147.336C286.266 146.888 286.112 146.3 286.112 145.571C286.112 144.843 286.308 144.212 286.7 143.68C287.107 143.148 287.667 142.734 288.381 142.44C289.096 142.132 289.929 141.978 290.882 141.978C291.792 141.978 292.584 142.125 293.256 142.419C293.943 142.699 294.475 143.106 294.853 143.638C295.246 144.156 295.463 144.766 295.505 145.466H292.458C292.458 145.158 292.381 144.913 292.227 144.731C292.087 144.535 291.891 144.387 291.638 144.289C291.4 144.191 291.12 144.142 290.798 144.142C290.308 144.142 289.915 144.247 289.621 144.458C289.341 144.654 289.201 144.934 289.201 145.298C289.201 145.564 289.278 145.781 289.432 145.949C289.6 146.104 289.866 146.23 290.23 146.328C290.595 146.426 291.071 146.517 291.659 146.601C292.584 146.727 293.347 146.916 293.95 147.168C294.552 147.42 295 147.778 295.295 148.24C295.589 148.688 295.736 149.284 295.736 150.026C295.736 150.797 295.526 151.455 295.106 152.001C294.699 152.548 294.125 152.961 293.382 153.241C292.64 153.521 291.771 153.661 290.777 153.661ZM301.624 153.451C300.658 153.451 299.943 153.227 299.481 152.779C299.019 152.316 298.788 151.588 298.788 150.593V144.668H296.77V142.188H298.788V139.12L301.877 138.826V142.188H304.146V144.668H301.877V150.026C301.877 150.376 301.961 150.614 302.129 150.74C302.297 150.867 302.535 150.93 302.843 150.93H304.146V153.451H301.624ZM306.211 153.451V142.188H309.006L309.132 143.995H309.237C309.49 143.267 309.889 142.762 310.435 142.482C310.995 142.188 311.633 142.041 312.347 142.041C312.473 142.041 312.585 142.041 312.684 142.041C312.782 142.041 312.88 142.041 312.978 142.041V144.941C312.908 144.941 312.81 144.941 312.684 144.941C312.557 144.941 312.424 144.941 312.284 144.941C311.598 144.941 311.038 145.046 310.603 145.256C310.169 145.452 309.847 145.746 309.637 146.139C309.427 146.531 309.314 147.007 309.3 147.567V153.451H306.211ZM318.536 153.64C317.849 153.64 317.226 153.514 316.666 153.262C316.105 152.996 315.622 152.618 315.216 152.127C314.81 151.623 314.494 151.007 314.27 150.278C314.06 149.55 313.955 148.73 313.955 147.82C313.955 146.587 314.144 145.536 314.522 144.668C314.915 143.785 315.454 143.12 316.14 142.671C316.827 142.209 317.625 141.978 318.536 141.978C319.11 141.978 319.629 142.069 320.091 142.251C320.553 142.419 320.952 142.664 321.289 142.987C321.625 143.295 321.87 143.659 322.024 144.079H322.192L322.318 142.188H325.239V153.451H322.318L322.192 151.539H322.024C321.8 152.169 321.373 152.681 320.742 153.073C320.126 153.451 319.39 153.64 318.536 153.64ZM319.65 151.14C320.21 151.14 320.672 151.021 321.036 150.782C321.415 150.544 321.695 150.215 321.877 149.795C322.059 149.375 322.15 148.898 322.15 148.366V147.252C322.15 146.706 322.052 146.23 321.856 145.823C321.674 145.403 321.394 145.074 321.015 144.836C320.651 144.598 320.224 144.479 319.734 144.479C319.145 144.479 318.655 144.612 318.263 144.878C317.884 145.144 317.597 145.529 317.401 146.034C317.205 146.524 317.107 147.119 317.107 147.82C317.107 148.492 317.198 149.08 317.38 149.585C317.562 150.089 317.842 150.474 318.221 150.74C318.599 151.007 319.075 151.14 319.65 151.14Z"
                    fill="white"></path>

                <!-- Connector dashed lines -->
                <path
                    d="M277 207.87H172.369C168.369 207.87 166.369 209.87 166.369 213.87V233.88M277 207.87H381.631C385.631 207.87 387.631 209.87 387.631 213.87V233.88M277 207.87V183.556M277 207.87V233.88"
                    stroke="url(#kw-line-grad)"
                    stroke-width="1.31332"
                    stroke-dasharray="2.63 2.63"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>

                <!-- Card: Data -->
                <rect
                    x="127.531"
                    y="239.383"
                    width="92.3082"
                    height="57.7665"
                    rx="15.5099"
                    fill="#131316"></rect>
                <rect
                    x="127.531"
                    y="239.383"
                    width="92.3082"
                    height="57.7665"
                    rx="15.5099"
                    stroke="#3B3A41"
                    stroke-width="0.5"></rect>
                <path
                    d="M158.173 273.266V263.039H160.821C161.484 263.039 162.054 263.165 162.53 263.417C163.016 263.669 163.389 264.024 163.651 264.482C163.922 264.94 164.057 265.481 164.057 266.107V270.184C164.057 270.81 163.922 271.356 163.651 271.823C163.389 272.281 163.016 272.636 162.53 272.888C162.054 273.14 161.484 273.266 160.821 273.266H158.173ZM159.434 272.145H160.821C161.437 272.145 161.918 271.973 162.264 271.627C162.619 271.281 162.796 270.8 162.796 270.184V266.107C162.796 265.5 162.619 265.024 162.264 264.678C161.918 264.332 161.437 264.16 160.821 264.16H159.434V272.145ZM168.815 273.406C168.002 273.406 167.363 273.201 166.896 272.79C166.429 272.369 166.195 271.804 166.195 271.095C166.195 270.375 166.429 269.81 166.896 269.399C167.363 268.988 167.993 268.783 168.787 268.783H171.169V268.012C171.169 267.536 171.024 267.172 170.734 266.92C170.454 266.658 170.053 266.527 169.53 266.527C169.072 266.527 168.689 266.625 168.381 266.822C168.073 267.008 167.895 267.265 167.848 267.592H166.587C166.672 266.929 166.984 266.401 167.526 266.009C168.068 265.617 168.745 265.421 169.558 265.421C170.445 265.421 171.145 265.649 171.659 266.107C172.173 266.565 172.43 267.186 172.43 267.97V273.266H171.197V271.795H170.987L171.197 271.585C171.197 272.145 170.977 272.589 170.538 272.916C170.109 273.243 169.534 273.406 168.815 273.406ZM169.123 272.412C169.721 272.412 170.211 272.262 170.594 271.963C170.977 271.664 171.169 271.281 171.169 270.814V269.722H168.815C168.395 269.722 168.063 269.838 167.82 270.072C167.578 270.305 167.456 270.623 167.456 271.025C167.456 271.454 167.601 271.795 167.89 272.047C168.189 272.29 168.6 272.412 169.123 272.412ZM178.729 273.266C178.066 273.266 177.547 273.089 177.174 272.734C176.809 272.379 176.627 271.879 176.627 271.235V266.709H174.456V265.561H176.627V263.389H177.888V265.561H180.97V266.709H177.888V271.235C177.888 271.823 178.168 272.117 178.729 272.117H180.83V273.266H178.729ZM185.616 273.406C184.804 273.406 184.164 273.201 183.697 272.79C183.23 272.369 182.996 271.804 182.996 271.095C182.996 270.375 183.23 269.81 183.697 269.399C184.164 268.988 184.794 268.783 185.588 268.783H187.97V268.012C187.97 267.536 187.825 267.172 187.535 266.92C187.255 266.658 186.854 266.527 186.331 266.527C185.873 266.527 185.49 266.625 185.182 266.822C184.874 267.008 184.696 267.265 184.649 267.592H183.389C183.473 266.929 183.785 266.401 184.327 266.009C184.869 265.617 185.546 265.421 186.359 265.421C187.246 265.421 187.946 265.649 188.46 266.107C188.974 266.565 189.231 267.186 189.231 267.97V273.266H187.998V271.795H187.788L187.998 271.585C187.998 272.145 187.778 272.589 187.339 272.916C186.91 273.243 186.335 273.406 185.616 273.406ZM185.924 272.412C186.522 272.412 187.012 272.262 187.395 271.963C187.778 271.664 187.97 271.281 187.97 270.814V269.722H185.616C185.196 269.722 184.864 269.838 184.621 270.072C184.379 270.305 184.257 270.623 184.257 271.025C184.257 271.454 184.402 271.795 184.691 272.047C184.99 272.29 185.401 272.412 185.924 272.412Z"
                    fill="white"></path>

                <!-- Card: Infra -->
                <rect
                    x="230.846"
                    y="239.383"
                    width="92.3082"
                    height="57.7665"
                    rx="15.5099"
                    fill="#131316"></rect>
                <rect
                    x="230.846"
                    y="239.383"
                    width="92.3082"
                    height="57.7665"
                    rx="15.5099"
                    stroke="#3B3A41"
                    stroke-width="0.5"></rect>
                <path
                    d="M257.469 273.266V272.117H259.557V264.188H257.469V263.039H262.933V264.188H260.846V272.117H262.933V273.266H257.469ZM265.688 273.266V265.561H266.949V267.032H267.215L266.949 267.326C266.949 266.719 267.131 266.252 267.495 265.925C267.859 265.589 268.364 265.421 269.008 265.421C269.783 265.421 270.4 265.659 270.858 266.135C271.315 266.611 271.544 267.26 271.544 268.082V273.266H270.283V268.223C270.283 267.671 270.134 267.251 269.835 266.962C269.545 266.663 269.148 266.513 268.644 266.513C268.121 266.513 267.705 266.672 267.397 266.99C267.098 267.307 266.949 267.765 266.949 268.363V273.266H265.688ZM275.882 273.266V267.48H273.64V266.331H275.882V265C275.882 264.393 276.073 263.917 276.456 263.571C276.839 263.216 277.367 263.039 278.039 263.039H280.295V264.188H278.039C277.75 264.188 277.526 264.258 277.367 264.398C277.217 264.529 277.143 264.729 277.143 265V266.331H280.295V267.48H277.143V273.266H275.882ZM282.755 273.266V265.561H283.988V267.032H284.282L283.876 267.942C283.876 267.111 284.053 266.485 284.408 266.065C284.773 265.635 285.31 265.421 286.019 265.421C286.832 265.421 287.477 265.677 287.953 266.191C288.439 266.695 288.681 267.382 288.681 268.251V268.713H287.42V268.363C287.42 267.756 287.271 267.293 286.972 266.976C286.683 266.649 286.267 266.485 285.725 266.485C285.193 266.485 284.773 266.649 284.464 266.976C284.165 267.303 284.016 267.765 284.016 268.363V273.266H282.755ZM293.131 273.406C292.318 273.406 291.679 273.201 291.212 272.79C290.745 272.369 290.511 271.804 290.511 271.095C290.511 270.375 290.745 269.81 291.212 269.399C291.679 268.988 292.309 268.783 293.103 268.783H295.485V268.012C295.485 267.536 295.34 267.172 295.05 266.92C294.77 266.658 294.369 266.527 293.846 266.527C293.388 266.527 293.005 266.625 292.697 266.822C292.389 267.008 292.211 267.265 292.164 267.592H290.903C290.988 266.929 291.3 266.401 291.842 266.009C292.384 265.617 293.061 265.421 293.874 265.421C294.761 265.421 295.461 265.649 295.975 266.107C296.489 266.565 296.746 267.186 296.746 267.97V273.266H295.513V271.795H295.303L295.513 271.585C295.513 272.145 295.293 272.589 294.854 272.916C294.425 273.243 293.85 273.406 293.131 273.406ZM293.439 272.412C294.037 272.412 294.527 272.262 294.91 271.963C295.293 271.664 295.485 271.281 295.485 270.814V269.722H293.131C292.711 269.722 292.379 269.838 292.136 270.072C291.894 270.305 291.772 270.623 291.772 271.025C291.772 271.454 291.917 271.795 292.206 272.047C292.505 272.29 292.916 272.412 293.439 272.412Z"
                    fill="white"></path>

                <!-- Card: AI -->
                <rect
                    x="334.161"
                    y="239.383"
                    width="92.3082"
                    height="57.7665"
                    rx="15.5099"
                    fill="#131316"></rect>
                <rect
                    x="334.161"
                    y="239.383"
                    width="92.3082"
                    height="57.7665"
                    rx="15.5099"
                    stroke="#3B3A41"
                    stroke-width="0.5"></rect>
                <path
                    d="M372.615 273.266L375.277 263.039H376.972L379.62 273.266H378.345L377.672 270.548H374.576L373.904 273.266H372.615ZM374.828 269.483H377.406L376.622 266.331C376.472 265.733 376.355 265.234 376.271 264.832C376.187 264.43 376.136 264.169 376.117 264.048C376.098 264.169 376.047 264.43 375.963 264.832C375.879 265.234 375.762 265.729 375.613 266.317L374.828 269.483ZM381.786 273.266V272.117H383.873V264.188H381.786V263.039H387.25V264.188H385.162V272.117H387.25V273.266H381.786Z"
                    fill="white"></path>
            </g>

            <!-- Bottom label -->
            <path
                d="M212.424 343.539C211.575 343.539 210.842 343.385 210.226 343.077C209.619 342.76 209.153 342.316 208.826 341.747C208.499 341.168 208.336 340.478 208.336 339.675V333.207H209.526V339.647C209.526 340.272 209.643 340.795 209.876 341.215C210.109 341.626 210.445 341.934 210.884 342.139C211.323 342.344 211.841 342.447 212.438 342.447C213.091 342.447 213.633 342.335 214.062 342.111C214.491 341.878 214.809 341.551 215.014 341.131C215.229 340.711 215.336 340.216 215.336 339.647V333.207H216.512V339.675C216.512 340.459 216.349 341.14 216.022 341.719C215.705 342.298 215.243 342.746 214.636 343.063C214.029 343.38 213.292 343.539 212.424 343.539ZM218.578 343.413V336.063H219.656L219.698 337.589H219.782C220.006 337.048 220.351 336.642 220.818 336.371C221.284 336.091 221.793 335.951 222.344 335.951C222.726 335.951 223.076 336.007 223.394 336.119C223.72 336.231 224 336.413 224.234 336.665C224.476 336.917 224.663 337.244 224.794 337.645C224.924 338.037 224.99 338.518 224.99 339.087V343.413H223.856V339.311C223.856 338.76 223.786 338.308 223.646 337.953C223.515 337.598 223.31 337.337 223.03 337.169C222.759 336.992 222.409 336.903 221.98 336.903C221.522 336.903 221.121 337.015 220.776 337.239C220.43 337.463 220.164 337.766 219.978 338.149C219.791 338.522 219.698 338.952 219.698 339.437V343.413H218.578ZM226.972 343.413V336.063H228.106V343.413H226.972ZM227.56 334.803C227.346 334.803 227.173 334.747 227.042 334.635C226.912 334.514 226.846 334.355 226.846 334.159C226.846 333.963 226.912 333.809 227.042 333.697C227.173 333.585 227.346 333.529 227.56 333.529C227.766 333.529 227.934 333.585 228.064 333.697C228.195 333.809 228.26 333.963 228.26 334.159C228.26 334.355 228.195 334.514 228.064 334.635C227.934 334.747 227.766 334.803 227.56 334.803ZM230.59 343.413V336.973H229.358V336.063H230.59V334.845C230.59 334.294 230.744 333.884 231.052 333.613C231.36 333.342 231.789 333.207 232.34 333.207H233.348V334.117H232.578C232.242 334.117 232.013 334.196 231.892 334.355C231.77 334.504 231.71 334.714 231.71 334.985V336.063H235.7V343.413H234.58V336.973H231.71V343.413H230.59ZM235.14 334.803C234.934 334.803 234.766 334.747 234.636 334.635C234.505 334.514 234.44 334.36 234.44 334.173C234.44 333.977 234.505 333.823 234.636 333.711C234.766 333.59 234.934 333.529 235.14 333.529C235.345 333.529 235.513 333.59 235.644 333.711C235.774 333.823 235.84 333.977 235.84 334.173C235.84 334.36 235.774 334.514 235.644 334.635C235.513 334.747 235.345 334.803 235.14 334.803ZM240.642 343.539C239.942 343.539 239.34 343.385 238.836 343.077C238.341 342.769 237.963 342.33 237.702 341.761C237.44 341.192 237.31 340.529 237.31 339.773C237.31 338.998 237.44 338.326 237.702 337.757C237.963 337.178 238.336 336.735 238.822 336.427C239.307 336.11 239.9 335.951 240.6 335.951C241.346 335.951 241.962 336.119 242.448 336.455C242.933 336.791 243.283 337.258 243.498 337.855C243.722 338.452 243.806 339.143 243.75 339.927H238.416C238.425 340.534 238.518 341.042 238.696 341.453C238.882 341.854 239.139 342.158 239.466 342.363C239.802 342.559 240.194 342.657 240.642 342.657C241.164 342.657 241.594 342.536 241.93 342.293C242.266 342.05 242.49 341.728 242.602 341.327H243.694C243.61 341.794 243.423 342.195 243.134 342.531C242.854 342.858 242.499 343.11 242.07 343.287C241.64 343.455 241.164 343.539 240.642 343.539ZM238.43 339.283L238.304 339.115H242.77L242.644 339.311C242.653 338.723 242.574 338.252 242.406 337.897C242.238 337.533 241.995 337.267 241.678 337.099C241.37 336.922 241.01 336.833 240.6 336.833C240.17 336.833 239.797 336.926 239.48 337.113C239.162 337.3 238.91 337.575 238.724 337.939C238.546 338.294 238.448 338.742 238.43 339.283ZM248.075 343.539C247.627 343.539 247.212 343.45 246.829 343.273C246.456 343.096 246.134 342.844 245.863 342.517C245.593 342.19 245.383 341.794 245.233 341.327C245.093 340.86 245.023 340.328 245.023 339.731C245.023 338.938 245.149 338.261 245.401 337.701C245.663 337.132 246.022 336.698 246.479 336.399C246.937 336.091 247.469 335.937 248.075 335.937C248.495 335.937 248.878 336.007 249.223 336.147C249.578 336.278 249.877 336.464 250.119 336.707C250.362 336.95 250.539 337.239 250.651 337.575H250.707V333.207H251.841V343.413H250.763L250.721 341.887H250.651C250.474 342.382 250.157 342.783 249.699 343.091C249.251 343.39 248.71 343.539 248.075 343.539ZM248.439 342.587C248.925 342.587 249.335 342.475 249.671 342.251C250.007 342.018 250.264 341.719 250.441 341.355C250.619 340.991 250.707 340.599 250.707 340.179V339.283C250.707 338.854 250.614 338.457 250.427 338.093C250.25 337.72 249.993 337.426 249.657 337.211C249.331 336.987 248.929 336.875 248.453 336.875C247.987 336.875 247.581 336.992 247.235 337.225C246.899 337.449 246.638 337.776 246.451 338.205C246.274 338.625 246.185 339.134 246.185 339.731C246.185 340.319 246.274 340.828 246.451 341.257C246.638 341.686 246.899 342.018 247.235 342.251C247.571 342.475 247.973 342.587 248.439 342.587ZM261.765 343.539C261.009 343.539 260.323 343.418 259.707 343.175C259.101 342.932 258.573 342.582 258.125 342.125C257.687 341.668 257.351 341.117 257.117 340.473C256.884 339.829 256.767 339.11 256.767 338.317C256.767 337.514 256.884 336.791 257.117 336.147C257.36 335.503 257.701 334.957 258.139 334.509C258.578 334.052 259.101 333.702 259.707 333.459C260.323 333.216 261.009 333.095 261.765 333.095C262.521 333.095 263.203 333.216 263.809 333.459C264.416 333.702 264.939 334.052 265.377 334.509C265.825 334.966 266.166 335.517 266.399 336.161C266.633 336.796 266.749 337.514 266.749 338.317C266.749 339.12 266.628 339.843 266.385 340.487C266.152 341.131 265.816 341.682 265.377 342.139C264.939 342.587 264.411 342.932 263.795 343.175C263.189 343.418 262.512 343.539 261.765 343.539ZM261.765 342.489C262.531 342.489 263.193 342.321 263.753 341.985C264.323 341.64 264.757 341.159 265.055 340.543C265.363 339.918 265.517 339.176 265.517 338.317C265.517 337.664 265.429 337.08 265.251 336.567C265.083 336.054 264.831 335.62 264.495 335.265C264.169 334.901 263.777 334.626 263.319 334.439C262.862 334.243 262.344 334.145 261.765 334.145C260.991 334.145 260.323 334.313 259.763 334.649C259.203 334.985 258.769 335.466 258.461 336.091C258.163 336.707 258.013 337.449 258.013 338.317C258.013 338.961 258.102 339.544 258.279 340.067C258.457 340.58 258.704 341.019 259.021 341.383C259.348 341.738 259.74 342.013 260.197 342.209C260.664 342.396 261.187 342.489 261.765 342.489ZM268.535 343.413V336.063H269.543L269.613 337.421H269.669C269.827 336.954 270.107 336.595 270.509 336.343C270.91 336.091 271.358 335.965 271.853 335.965C271.937 335.965 272.016 335.97 272.091 335.979C272.165 335.979 272.235 335.984 272.301 335.993V337.071C272.235 337.062 272.165 337.057 272.091 337.057C272.016 337.048 271.937 337.043 271.853 337.043C271.423 337.043 271.05 337.122 270.733 337.281C270.415 337.44 270.163 337.668 269.977 337.967C269.799 338.256 269.692 338.611 269.655 339.031V343.413H268.535ZM276.373 343.539C275.841 343.539 275.355 343.45 274.917 343.273C274.487 343.086 274.119 342.83 273.811 342.503C273.503 342.167 273.265 341.77 273.097 341.313C272.929 340.846 272.845 340.324 272.845 339.745C272.845 339.176 272.929 338.662 273.097 338.205C273.265 337.738 273.507 337.337 273.825 337.001C274.142 336.665 274.52 336.408 274.959 336.231C275.397 336.044 275.883 335.951 276.415 335.951C276.984 335.951 277.493 336.054 277.941 336.259C278.389 336.464 278.753 336.754 279.033 337.127C279.313 337.5 279.481 337.934 279.537 338.429H278.431C278.356 338.093 278.221 337.813 278.025 337.589C277.829 337.365 277.591 337.197 277.311 337.085C277.031 336.973 276.723 336.917 276.387 336.917C276.004 336.917 275.663 336.987 275.365 337.127C275.075 337.258 274.828 337.449 274.623 337.701C274.417 337.953 274.259 338.252 274.147 338.597C274.044 338.942 273.993 339.33 273.993 339.759C273.993 340.347 274.091 340.851 274.287 341.271C274.492 341.691 274.772 342.013 275.127 342.237C275.481 342.461 275.897 342.573 276.373 342.573C276.755 342.573 277.091 342.503 277.381 342.363C277.67 342.223 277.908 342.036 278.095 341.803C278.291 341.56 278.417 341.271 278.473 340.935H279.579C279.523 341.458 279.35 341.915 279.061 342.307C278.771 342.699 278.393 343.002 277.927 343.217C277.469 343.432 276.951 343.539 276.373 343.539ZM281.154 343.413V333.207H282.274V337.589H282.358C282.582 337.048 282.927 336.642 283.394 336.371C283.861 336.091 284.369 335.951 284.92 335.951C285.303 335.951 285.653 336.007 285.97 336.119C286.297 336.231 286.577 336.413 286.81 336.665C287.053 336.917 287.239 337.244 287.37 337.645C287.501 338.037 287.566 338.518 287.566 339.087V343.413H286.432V339.311C286.432 338.76 286.362 338.308 286.222 337.953C286.091 337.598 285.886 337.337 285.606 337.169C285.335 336.992 284.985 336.903 284.556 336.903C284.099 336.903 283.697 337.015 283.352 337.239C283.007 337.463 282.741 337.766 282.554 338.149C282.367 338.522 282.274 338.952 282.274 339.437V343.413H281.154ZM292.485 343.539C291.785 343.539 291.183 343.385 290.679 343.077C290.185 342.769 289.807 342.33 289.545 341.761C289.284 341.192 289.153 340.529 289.153 339.773C289.153 338.998 289.284 338.326 289.545 337.757C289.807 337.178 290.18 336.735 290.665 336.427C291.151 336.11 291.743 335.951 292.443 335.951C293.19 335.951 293.806 336.119 294.291 336.455C294.777 336.791 295.127 337.258 295.341 337.855C295.565 338.452 295.649 339.143 295.593 339.927H290.259C290.269 340.534 290.362 341.042 290.539 341.453C290.726 341.854 290.983 342.158 291.309 342.363C291.645 342.559 292.037 342.657 292.485 342.657C293.008 342.657 293.437 342.536 293.773 342.293C294.109 342.05 294.333 341.728 294.445 341.327H295.537C295.453 341.794 295.267 342.195 294.977 342.531C294.697 342.858 294.343 343.11 293.913 343.287C293.484 343.455 293.008 343.539 292.485 343.539ZM290.273 339.283L290.147 339.115H294.613L294.487 339.311C294.497 338.723 294.417 338.252 294.249 337.897C294.081 337.533 293.839 337.267 293.521 337.099C293.213 336.922 292.854 336.833 292.443 336.833C292.014 336.833 291.641 336.926 291.323 337.113C291.006 337.3 290.754 337.575 290.567 337.939C290.39 338.294 290.292 338.742 290.273 339.283ZM299.806 343.553C299.349 343.553 298.938 343.497 298.574 343.385C298.21 343.273 297.898 343.119 297.636 342.923C297.375 342.718 297.174 342.475 297.034 342.195C296.894 341.906 296.82 341.588 296.81 341.243H297.93C297.949 341.57 298.038 341.845 298.196 342.069C298.364 342.284 298.588 342.442 298.868 342.545C299.158 342.648 299.48 342.699 299.834 342.699C300.404 342.699 300.838 342.592 301.136 342.377C301.444 342.162 301.598 341.859 301.598 341.467C301.598 341.168 301.533 340.94 301.402 340.781C301.272 340.613 301.071 340.482 300.8 340.389C300.53 340.296 300.175 340.216 299.736 340.151C299.13 340.067 298.626 339.95 298.224 339.801C297.823 339.652 297.52 339.442 297.314 339.171C297.109 338.891 297.006 338.527 297.006 338.079C297.006 337.65 297.123 337.276 297.356 336.959C297.59 336.632 297.916 336.38 298.336 336.203C298.756 336.016 299.246 335.923 299.806 335.923C300.376 335.923 300.866 336.016 301.276 336.203C301.687 336.38 302.009 336.637 302.242 336.973C302.476 337.3 302.597 337.692 302.606 338.149H301.5C301.482 337.822 301.398 337.561 301.248 337.365C301.108 337.16 300.912 337.015 300.66 336.931C300.418 336.838 300.128 336.791 299.792 336.791C299.27 336.791 298.864 336.898 298.574 337.113C298.285 337.328 298.14 337.612 298.14 337.967C298.14 338.238 298.21 338.457 298.35 338.625C298.49 338.784 298.705 338.91 298.994 339.003C299.293 339.087 299.666 339.162 300.114 339.227C300.665 339.302 301.136 339.414 301.528 339.563C301.93 339.712 302.233 339.932 302.438 340.221C302.644 340.501 302.746 340.884 302.746 341.369C302.746 341.836 302.625 342.232 302.382 342.559C302.14 342.876 301.794 343.124 301.346 343.301C300.908 343.469 300.394 343.553 299.806 343.553ZM306.636 343.413C306.122 343.413 305.73 343.292 305.46 343.049C305.198 342.797 305.068 342.391 305.068 341.831V337.001H303.64V336.063H305.068V333.865L306.188 333.711V336.063H307.896V337.001H306.202V341.649C306.202 341.929 306.267 342.134 306.398 342.265C306.528 342.386 306.72 342.447 306.972 342.447H307.924V343.413H306.636ZM309.441 343.413V336.063H310.449L310.519 337.421H310.575C310.734 336.954 311.014 336.595 311.415 336.343C311.816 336.091 312.264 335.965 312.759 335.965C312.843 335.965 312.922 335.97 312.997 335.979C313.072 335.979 313.142 335.984 313.207 335.993V337.071C313.142 337.062 313.072 337.057 312.997 337.057C312.922 337.048 312.843 337.043 312.759 337.043C312.33 337.043 311.956 337.122 311.639 337.281C311.322 337.44 311.07 337.668 310.883 337.967C310.706 338.256 310.598 338.611 310.561 339.031V343.413H309.441ZM316.872 343.539C316.424 343.539 316.009 343.45 315.626 343.273C315.253 343.096 314.931 342.844 314.66 342.517C314.389 342.19 314.179 341.794 314.03 341.327C313.89 340.86 313.82 340.328 313.82 339.731C313.82 338.938 313.946 338.261 314.198 337.701C314.459 337.132 314.819 336.698 315.276 336.399C315.733 336.091 316.265 335.937 316.872 335.937C317.292 335.937 317.675 336.007 318.02 336.147C318.375 336.278 318.673 336.464 318.916 336.707C319.159 336.95 319.336 337.239 319.448 337.575H319.518L319.56 336.063H320.638V343.413H319.56L319.518 341.887H319.448C319.271 342.382 318.953 342.783 318.496 343.091C318.048 343.39 317.507 343.539 316.872 343.539ZM317.236 342.587C317.721 342.587 318.132 342.475 318.468 342.251C318.804 342.018 319.061 341.719 319.238 341.355C319.415 340.991 319.504 340.599 319.504 340.179V339.283C319.504 338.854 319.411 338.457 319.224 338.093C319.047 337.72 318.79 337.426 318.454 337.211C318.127 336.987 317.726 336.875 317.25 336.875C316.783 336.875 316.377 336.992 316.032 337.225C315.696 337.449 315.435 337.776 315.248 338.205C315.071 338.625 314.982 339.134 314.982 339.731C314.982 340.319 315.071 340.828 315.248 341.257C315.435 341.686 315.696 342.018 316.032 342.251C316.368 342.475 316.769 342.587 317.236 342.587ZM324.857 343.413C324.502 343.413 324.218 343.362 324.003 343.259C323.798 343.156 323.648 343.002 323.555 342.797C323.471 342.582 323.429 342.321 323.429 342.013V337.001H322.001V336.063H323.429V333.865L324.549 333.711V336.063H328.903V343.413H327.769V337.001H324.549V341.817C324.549 342.078 324.596 342.251 324.689 342.335C324.792 342.419 324.969 342.461 325.221 342.461H326.257V343.413H324.857ZM328.343 334.803C328.138 334.803 327.965 334.747 327.825 334.635C327.694 334.514 327.629 334.355 327.629 334.159C327.629 333.963 327.694 333.809 327.825 333.697C327.965 333.585 328.138 333.529 328.343 333.529C328.548 333.529 328.716 333.585 328.847 333.697C328.978 333.809 329.043 333.963 329.043 334.159C329.043 334.355 328.978 334.514 328.847 334.635C328.716 334.747 328.548 334.803 328.343 334.803ZM334.137 343.539C333.605 343.539 333.12 343.45 332.681 343.273C332.252 343.096 331.878 342.839 331.561 342.503C331.253 342.167 331.01 341.77 330.833 341.313C330.665 340.846 330.581 340.328 330.581 339.759C330.581 339.003 330.726 338.34 331.015 337.771C331.304 337.202 331.715 336.758 332.247 336.441C332.788 336.114 333.418 335.951 334.137 335.951C334.669 335.951 335.15 336.04 335.579 336.217C336.018 336.385 336.391 336.637 336.699 336.973C337.007 337.309 337.245 337.71 337.413 338.177C337.581 338.644 337.665 339.166 337.665 339.745C337.665 340.492 337.52 341.15 337.231 341.719C336.951 342.288 336.545 342.736 336.013 343.063C335.481 343.38 334.856 343.539 334.137 343.539ZM334.137 342.559C334.613 342.559 335.028 342.452 335.383 342.237C335.738 342.013 336.013 341.691 336.209 341.271C336.414 340.842 336.517 340.333 336.517 339.745C336.517 339.306 336.461 338.914 336.349 338.569C336.237 338.214 336.078 337.916 335.873 337.673C335.668 337.421 335.42 337.23 335.131 337.099C334.842 336.968 334.51 336.903 334.137 336.903C333.661 336.903 333.241 337.02 332.877 337.253C332.522 337.477 332.242 337.799 332.037 338.219C331.841 338.639 331.743 339.152 331.743 339.759C331.743 340.188 331.794 340.58 331.897 340.935C332.009 341.28 332.168 341.574 332.373 341.817C332.588 342.06 332.844 342.246 333.143 342.377C333.442 342.498 333.773 342.559 334.137 342.559ZM339.341 343.413V336.063H340.419L340.461 337.589H340.545C340.769 337.048 341.115 336.642 341.581 336.371C342.048 336.091 342.557 335.951 343.107 335.951C343.49 335.951 343.84 336.007 344.157 336.119C344.484 336.231 344.764 336.413 344.997 336.665C345.24 336.917 345.427 337.244 345.557 337.645C345.688 338.037 345.753 338.518 345.753 339.087V343.413H344.619V339.311C344.619 338.76 344.549 338.308 344.409 337.953C344.279 337.598 344.073 337.337 343.793 337.169C343.523 336.992 343.173 336.903 342.743 336.903C342.286 336.903 341.885 337.015 341.539 337.239C341.194 337.463 340.928 337.766 340.741 338.149C340.555 338.522 340.461 338.952 340.461 339.437V343.413H339.341Z"
                fill="white"></path>
        </g>

        <defs>
            <filter
                id="kw-shadow"
                x="40.68"
                y="69.06"
                width="517.45"
                height="410.15"
                filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB"
            >
                <feFlood flood-opacity="0" result="BackgroundImageFix"
                ></feFlood>
                <feColorMatrix
                    in="SourceAlpha"
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha"></feColorMatrix>
                <feOffset dx="8.66" dy="28.16"></feOffset><feGaussianBlur
                    stdDeviation="11"></feGaussianBlur>
                <feColorMatrix
                    type="matrix"
                    values="0 0 0 0 0.064 0 0 0 0 0.597 0 0 0 0 0.948 0 0 0 0.034 0"
                ></feColorMatrix>
                <feBlend mode="normal" in2="BackgroundImageFix" result="e1"
                ></feBlend>
                <feColorMatrix
                    in="SourceAlpha"
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha"></feColorMatrix>
                <feOffset dx="11.06" dy="35.96"></feOffset><feGaussianBlur
                    stdDeviation="22"></feGaussianBlur>
                <feColorMatrix
                    type="matrix"
                    values="0 0 0 0 0.296 0 0 0 0 0.192 0 0 0 0 0.448 0 0 0 0.32 0"
                ></feColorMatrix>
                <feBlend mode="normal" in2="e1" result="e2"></feBlend>
                <feColorMatrix
                    in="SourceAlpha"
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha"></feColorMatrix>
                <feOffset dx="13.37" dy="43.46"></feOffset><feGaussianBlur
                    stdDeviation="33"></feGaussianBlur>
                <feColorMatrix
                    type="matrix"
                    values="0 0 0 0 0.296 0 0 0 0 0.192 0 0 0 0 0.448 0 0 0 0.48 0"
                ></feColorMatrix>
                <feBlend mode="normal" in2="e2" result="e3"></feBlend>
                <feColorMatrix
                    in="SourceAlpha"
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha"></feColorMatrix>
                <feOffset dx="22.4" dy="72.8"></feOffset><feGaussianBlur
                    stdDeviation="44"></feGaussianBlur>
                <feColorMatrix
                    type="matrix"
                    values="0 0 0 0 0.296 0 0 0 0 0.192 0 0 0 0 0.448 0 0 0 0.64 0"
                ></feColorMatrix>
                <feBlend mode="normal" in2="e3" result="e4"></feBlend>
                <feBlend
                    mode="normal"
                    in="SourceGraphic"
                    in2="e4"
                    result="shape"></feBlend>
            </filter>
            <linearGradient
                id="kw-border-grad"
                x1="277"
                y1="91"
                x2="277"
                y2="319"
                gradientUnits="userSpaceOnUse"
            >
                <stop stop-color="#9041FF"></stop>
                <stop offset="0.178" stop-color="#EFCEFF"></stop>
                <stop offset="0.832" stop-color="#36253E"></stop>
                <stop offset="1" stop-color="#9041FF"></stop>
            </linearGradient>
            <linearGradient
                id="kw-line-grad"
                x1="284.62"
                y1="183.56"
                x2="287.56"
                y2="233.83"
                gradientUnits="userSpaceOnUse"
            >
                <stop stop-color="#8465FF"></stop>
                <stop offset="1" stop-color="#BE62FF"></stop>
            </linearGradient>
            <clipPath id="kw-clip">
                <rect width="554" height="396" rx="8" fill="white"></rect>
            </clipPath>
        </defs>
    </svg>

    <canvas class="glow" width="554" height="396"></canvas>
    <canvas class="ptcl" width="554" height="396"></canvas>
</div>

<!-- 3. SCRIPT — self-contained IIFE, no globals leaked -->
<script>
    ;(function () {
        const widget = document.querySelector(".kestra-widget")
        const gctx = widget?.querySelector(".glow")?.getContext("2d")
        const ctx = widget?.querySelector(".ptcl")?.getContext("2d")

        /* ── Config ── */
        const C = {
            kestra: { r: 169, g: 80, b: 255 },
            data: { r: 89, g: 188, b: 230 },
            infra: { r: 245, g: 253, b: 96 },
            ai: { r: 87, g: 247, b: 149 },
        }
        const CARDS = {
            kestra: { x: 127.531, y: 112.85, w: 298.938, h: 65.2025, r: 15.5 },
            data: { x: 127.531, y: 239.383, w: 92.3082, h: 57.7665, r: 15.5 },
            infra: { x: 230.846, y: 239.383, w: 92.3082, h: 57.7665, r: 15.5 },
            ai: { x: 334.161, y: 239.383, w: 92.3082, h: 57.7665, r: 15.5 },
        }
        const BIG = { x: 106.268, y: 91.587, w: 341.464, h: 226.826, r: 12.5 }
        const TRAVEL = 2600,
            RETURN = 2600,
            PAUSE = 800,
            OFFSET = 1700

        const glow = { kestra: 0, data: 0, infra: 0, ai: 0 }
        let borderAngle = 0

        /* ── Helpers ── */
        const lerp = (a, b, t) => a + (b - a) * t
        const lerpC = (a, b, t) => ({
            r: (a.r + (b.r - a.r) * t) | 0,
            g: (a.g + (b.g - a.g) * t) | 0,
            b: (a.b + (b.b - a.b) * t) | 0,
        })
        const eio = (t) =>
            t < 0.5 ? 4 * t * t * t : 1 - Math.pow(-2 * t + 2, 3) / 2
        const rgba = ({ r, g, b }, a) => `rgba(${r},${g},${b},${a})`

        function rrPath(cx, { x, y, w, h, r }) {
            cx.beginPath()
            cx.moveTo(x + r, y)
            cx.arcTo(x + w, y, x + w, y + h, r)
            cx.arcTo(x + w, y + h, x, y + h, r)
            cx.arcTo(x, y + h, x, y, r)
            cx.arcTo(x, y, x + w, y, r)
            cx.closePath()
        }

        /* ── Glow pass ── */
        function drawGlows() {
            gctx.clearRect(0, 0, 554, 396)

            const bcx = BIG.x + BIG.w / 2,
                bcy = BIG.y + BIG.h / 2

            // Pulsing background bloom
            const pulse = Math.sin(Date.now() * 0.0018) * 0.5 + 0.5
            const bloom = gctx.createRadialGradient(
                bcx,
                bcy,
                0,
                bcx,
                bcy,
                Math.max(BIG.w, BIG.h) * 0.85,
            )
            bloom.addColorStop(0, `rgba(120,50,220,${0.18 + pulse * 0.18})`)
            bloom.addColorStop(0.4, `rgba(100,30,200,${0.1 + pulse * 0.1})`)
            bloom.addColorStop(1, "rgba(80,20,160,0)")
            gctx.save()
            gctx.fillStyle = bloom
            gctx.fillRect(0, 0, 554, 396)
            gctx.restore()

            // Spinning border
            const rad = Math.sqrt(BIG.w * BIG.w + BIG.h * BIG.h) / 2
            const ax = bcx + Math.cos(borderAngle) * rad,
                ay = bcy + Math.sin(borderAngle) * rad
            const bx = bcx + Math.cos(borderAngle + Math.PI) * rad,
                by = bcy + Math.sin(borderAngle + Math.PI) * rad
            const bg = gctx.createLinearGradient(ax, ay, bx, by)
            bg.addColorStop(0, "rgba(239,206,255,0)")
            bg.addColorStop(0.25, "rgba(239,206,255,1)")
            bg.addColorStop(0.5, "rgba(144,65,255,1)")
            bg.addColorStop(0.75, "rgba(54,37,62,.7)")
            bg.addColorStop(1, "rgba(239,206,255,0)")
            for (let i = 6; i >= 1; i--) {
                gctx.save()
                gctx.shadowColor = `rgba(169,80,255,${1 / i})`
                gctx.shadowBlur = 55 * i
                gctx.strokeStyle = bg
                gctx.lineWidth = 0.7
                rrPath(gctx, BIG)
                gctx.stroke()
                gctx.restore()
            }
            borderAngle += 0.008

            // Card glows
            for (const [key, c] of Object.entries(CARDS)) {
                const g = glow[key]
                if (g < 0.005) continue
                const col = C[key],
                    kb = key === "kestra" ? 2.2 : 1
                const ccx = c.x + c.w / 2,
                    ccy = c.y + c.h / 2

                const ig = gctx.createRadialGradient(
                    ccx,
                    ccy,
                    0,
                    ccx,
                    ccy,
                    Math.max(c.w, c.h) * 0.75,
                )
                ig.addColorStop(0, rgba(col, Math.min(1, 0.22 * g * kb)))
                ig.addColorStop(0.5, rgba(col, Math.min(1, 0.12 * g * kb)))
                ig.addColorStop(1, rgba(col, 0))
                gctx.save()
                rrPath(gctx, c)
                gctx.fillStyle = ig
                gctx.fill()
                gctx.restore()

                const passes = key === "kestra" ? 5 : 3
                for (let i = passes; i >= 1; i--) {
                    gctx.save()
                    gctx.shadowColor = rgba(col, g)
                    gctx.shadowBlur = (key === "kestra" ? 40 : 28) * i * g
                    gctx.strokeStyle = rgba(
                        col,
                        (g * (key === "kestra" ? 1 : 0.7)) / i,
                    )
                    gctx.lineWidth = key === "kestra" ? 2 : 1.5
                    rrPath(gctx, c)
                    gctx.stroke()
                    gctx.restore()
                }
                glow[key] = Math.max(0, g - 0.012)
            }
        }

        /* ── Particle system ── */
        const ROUTES = [
            {
                target: "data",
                wps: [
                    { x: 277, y: 178.05 },
                    { x: 277, y: 207.87 },
                    { x: 170.369, y: 207.87 },
                    { x: 166.369, y: 211.87 },
                    { x: 166.369, y: 233.88 },
                ],
            },
            {
                target: "infra",
                wps: [
                    { x: 277, y: 178.05 },
                    { x: 277, y: 207.87 },
                    { x: 277, y: 233.88 },
                ],
            },
            {
                target: "ai",
                wps: [
                    { x: 277, y: 178.05 },
                    { x: 277, y: 207.87 },
                    { x: 383.631, y: 207.87 },
                    { x: 387.631, y: 211.87 },
                    { x: 387.631, y: 233.88 },
                ],
            },
        ]

        function buildLens(wps) {
            const l = [0]
            for (let i = 1; i < wps.length; i++) {
                const dx = wps[i].x - wps[i - 1].x,
                    dy = wps[i].y - wps[i - 1].y
                l.push(l[i - 1] + Math.sqrt(dx * dx + dy * dy))
            }
            return l
        }

        function ptOn(wps, lens, t) {
            const tot = lens[lens.length - 1],
                tgt = t * tot
            let s = 0
            for (let i = 1; i < lens.length; i++) {
                if (lens[i] >= tgt) {
                    s = i - 1
                    break
                }
            }
            s = Math.min(s, wps.length - 2)
            const sl = lens[s + 1] - lens[s],
                lt = sl < 0.0001 ? 0 : (tgt - lens[s]) / sl
            return {
                x: lerp(wps[s].x, wps[s + 1].x, lt),
                y: lerp(wps[s].y, wps[s + 1].y, lt),
            }
        }

        ROUTES.forEach((r) => {
            r.fwdLens = buildLens(r.wps)
            r.rev = [...r.wps].reverse()
            r.revLens = buildLens(r.rev)
        })

        class Particle {
            constructor(ri, delay) {
                this.ri = ri
                this.r = ROUTES[ri]
                this.t0 = performance.now() + delay
                this.phase = "wait"
                this.t = 0
                this.x = 277
                this.y = 178.05
                this.trail = []
            }
            get col() {
                return (p) => lerpC(C.kestra, C[this.r.target], p)
            }
            reset() {
                this.r = ROUTES[this.ri]
                this.t0 = performance.now() + 300 + Math.random() * 300
                this.phase = "wait"
                this.trail = []
            }
            update(now) {
                if (this.phase === "wait") {
                    if (now >= this.t0) {
                        this.phase = "fwd"
                        this.ps = now
                    }
                    return
                }
                if (this.phase === "fwd") {
                    this.t = Math.min((now - this.ps) / TRAVEL, 1)
                    const p = ptOn(this.r.wps, this.r.fwdLens, eio(this.t))
                    this.x = p.x
                    this.y = p.y
                    if (this.t >= 1) {
                        this.phase = "pause"
                        this.ps = now
                        glow[this.r.target] = 1
                    }
                } else if (this.phase === "pause") {
                    if (now - this.ps >= PAUSE) {
                        this.phase = "ret"
                        this.ps = now
                    }
                    return
                } else {
                    this.t = Math.min((now - this.ps) / RETURN, 1)
                    const p = ptOn(this.r.rev, this.r.revLens, eio(this.t))
                    this.x = p.x
                    this.y = p.y
                    if (this.t >= 1) {
                        glow.kestra = Math.min(1, glow.kestra + 0.6)
                        this.reset()
                        return
                    }
                }
                this.trail.unshift({
                    x: this.x,
                    y: this.y,
                    t: this.t,
                    ph: this.phase,
                })
                if (this.trail.length > 22) this.trail.pop()
            }
            draw() {
                if (this.phase === "wait" || !this.trail.length) return
                const prog = this.phase === "ret" ? 1 - this.t : this.t
                const colFn = (p) => lerpC(C.kestra, C[this.r.target], p)
                const base = colFn(prog)

                for (let i = 1; i < this.trail.length; i++) {
                    const f = 1 - i / this.trail.length,
                        sz = 1.8 * f * 0.65
                    if (sz < 0.1) continue
                    const tp =
                        this.trail[i].ph === "ret"
                            ? 1 - this.trail[i].t
                            : this.trail[i].t
                    const tc = colFn(tp)
                    ctx.beginPath()
                    ctx.arc(
                        this.trail[i].x,
                        this.trail[i].y,
                        sz,
                        0,
                        Math.PI * 2,
                    )
                    ctx.fillStyle = rgba(tc, f * f * 0.4)
                    ctx.fill()
                }
                const br = 1.8 * 4.5
                const bl = ctx.createRadialGradient(
                    this.x,
                    this.y,
                    0,
                    this.x,
                    this.y,
                    br,
                )
                bl.addColorStop(0, rgba(base, 0.35))
                bl.addColorStop(0.6, rgba(base, 0.08))
                bl.addColorStop(1, rgba(base, 0))
                ctx.beginPath()
                ctx.arc(this.x, this.y, br, 0, Math.PI * 2)
                ctx.fillStyle = bl
                ctx.fill()
                ctx.beginPath()
                ctx.arc(this.x, this.y, 1.4, 0, Math.PI * 2)
                ctx.fillStyle = `rgb(${base.r},${base.g},${base.b})`
                ctx.fill()
                ctx.beginPath()
                ctx.arc(this.x - 0.5, this.y - 0.5, 0.55, 0, Math.PI * 2)
                ctx.fillStyle = "rgba(255,255,255,.6)"
                ctx.fill()
            }
        }

        const particles = [
            new Particle(0, 0),
            new Particle(1, OFFSET),
            new Particle(2, OFFSET * 2),
        ]

        /* ── Loop ── */
        function loop(now) {
            ctx.clearRect(0, 0, 554, 396)
            drawGlows()
            particles.forEach((p) => {
                p.update(now)
                p.draw()
            })
            requestAnimationFrame(loop)
        }
        requestAnimationFrame(loop)
    })()
</script>
