---
import Layout from "~/components/layout.astro"
import Header from "~/components/home/Header.vue"
import LogosTable from "~/components/common/LogosTable.astro"
import OpenSource from "~/components/home/OpenSource.astro"
import OpenSourceQuotes from "~/components/common/OpenSourceQuotes.vue"
import { $fetchApi } from "~/utils/fetch"
import Features from "~/components/home/Features.vue"
import EveryDev from "~/components/home/EveryDev.astro"
import TabsSection from "~/components/common/TabsSection.vue"
import BlueprintsRender from "~/components/common/BlueprintsRender.vue"
import EnterpriseSection from "~/components/home/EnterpriseSection.astro"
import EnterpriseQuotesRender from "~/components/common/EnterpriseQuotesRender.vue"
import CTA from "~/components/common/CTA.astro"
import PluginsBox from "~/components/common/PluginsBox.astro"
import { getValues } from "./api/github"
import { getImage } from "astro:assets"

const githubData = await getValues()

const blueprints = await $fetchApi<{ results: Blueprint[] }>(
    "/blueprints/versions/latest?page=1&size=20",
)
const stories = await $fetchApi<{ results: any[] }>(
    "/customer-stories-v2?featured=true",
)

const quotesCompaniesLogos = import.meta.glob<ImageMetadata>(
    "~/assets/quotes-companies/*.{svg,png}",
    {
        import: "default",
    },
)

const quotesLogos = (
    await Promise.all(
        Object.entries(quotesCompaniesLogos).map(([filePath, mod]) => {
            return mod().then(async (img) => {
                return {
                    name: filePath.split("/").pop(),
                    url: await getImage({ src: img, height: 36 }),
                }
            })
        }),
    )
).reduce(
    (acc, curr) => {
        if (curr.name) {
            acc[curr.name] = curr.url.src
        }
        return acc
    },
    {} as Record<string, string>,
)

const tabs = [
    {
        label: "CI/CD for all your Workflows",
        image: await getImage({
            src: import("~/components/home/assets/tabs/cd.png"),
            width: 1096,
            height: 590,
        }),
    },
    {
        label: "No Code, Low Code, Full Code",
        image: await getImage({
            src: import("~/components/home/assets/tabs/no-code.png"),
            width: 1096,
            height: 590,
        }),
    },
    {
        label: "Revision History & Rollback",
        image: await getImage({
            src: import("~/components/home/assets/tabs/revisions.png"),
            width: 1096,
            height: 590,
        }),
    },
    {
        label: "Alerting & Infrastructure Monitoring",
        image: await getImage({
            src: import("~/components/home/assets/tabs/alerting.png"),
            width: 1096,
            height: 590,
        }),
    },
]
---

<Layout headerTheme="darkHeader">
    <div class="home-page">
        <Header client:load />
        <LogosTable />
        <OpenSource {...githubData} />
        <OpenSourceQuotes client:visible />
        <Features />
        <EveryDev />
        <TabsSection tabs={tabs} client:visible />
        <PluginsBox />
        <BlueprintsRender blueprints={blueprints.results} client:visible />
        <EnterpriseSection stories={stories.results} />
        <EnterpriseQuotesRender
            quotesCompaniesLogos={quotesLogos}
            client:visible
        />
        <CTA />
    </div>
</Layout>

<script>
    const SIZE_OF_GRADIENT = 500

    // when the page has finished rendering, all the home card need a little script to react to
    // mouse movements smoothly.
    function moveGradient(e: MouseEvent) {
        const box = e.currentTarget
        if (!(box instanceof HTMLElement)) {
            return
        }

        const { left, top, width, height } = box.getBoundingClientRect()

        const x = e.clientX - left
        const y = e.clientY - top

        if (
            x < -SIZE_OF_GRADIENT ||
            x > width + SIZE_OF_GRADIENT ||
            y < -SIZE_OF_GRADIENT ||
            y > height + SIZE_OF_GRADIENT
        ) {
            return
        }
        box.style.setProperty("--x", `${x}px`)
        box.style.setProperty("--y", `${y}px`)
    }
    const cards = document.querySelectorAll(".home-card")
    for (const card of cards) {
        card.addEventListener("mousemove", moveGradient as any)
    }
</script>
<style lang="scss">
    .home-page {
        background-color: #0a0b0d;
        margin-top: -2rem;
    }
</style>
