---
import Layout from "~/components/layout.astro"
import Cards from "~/components/use-cases/Cards.astro"
import DetailsHero from "~/components/use-cases/DetailsHero.vue"
import VerticalProcess from "~/components/layout/VerticalProcess.vue"
import Write from "~/components/layout/Write.vue"
import FooterContact from "~/components/layout/FooterContact.astro"
import Faq from "~/components/common/Faq.vue"


const FORM_URL = "https://share-eu1.hsforms.com/1HWgyBQh8RP6pEZVFW51rOAg7f8j"

const HEADER = {
    tag: '<span class="text-gradient">Write</span> for the Kestra <br /> Community',
    title: "Write for the Kestra Community",
    description:
        "If you are a software engineer, or tech enthusiast passionate about orchestration, scheduling, " +
        "and workflow automation, we at Kestra are inviting you to share your knowledge and insights by " +
        "writing for us.",
    cta: [
        {
            text: "Submit a Draft",
            href: FORM_URL,
            style: "btn-animated btn-purple-animated btn",
            target: "_blank",
        },
    ],
    image: {
        href: "/write-for-us/hero.svg",
        alt: "Header",
        style: "image-community",
        width: "546px",
        height: "554px",
    },
}

const DRAFTS = [
    {
        title: "Showcase your expertise",
        description:
            "Writing sharpens your ability to convey complex technical ideas clearly and effectively. If " +
            "your draft shows potential, our team will assist you to refine it, making your message more impactful.",
        image: {
            src: "/shared/head-dots-horizontal-outline.svg",
            alt: "Showcase your expertise"
        },
    },
    {
        title: "Gain Recognition",
        description:
            "We value our contributors and promote their articles across our social media channels and " +
            "newsletter, offering you a platform to reach a broad audience in the tech community.",
        image: {
            src: "/shared/face-recognition.svg",
            alt: "Gain Recognition"
        },
    },
    {
        title: "Get Compensated",
        description:
            "Your expertise is precious, and we believe in rewarding our contributors. We offer competitive " +
            "compensation for original articles, videos and tutorials.",
        image: {
            src: "/shared/currency-usd.svg",
            alt: "Get Compensated"
        },
    },
]

const WRITE_PROGRAM = {
    tag: "What is the <span class='text-gradient'>Write for Kestra</span> Program ?",
    title: "What is the Write for the Kestra Program ?",
    titleClass: "title-sm",
    description:
        "Kestra, at its core, is a platform that empowers tech professionals with advanced orchestration " +
        "and scheduling solutions. We're looking for writers who can share practical insights, showcase new trends, and " +
        "provide step-by-step tutorials relevant to our community. ",
    interests: {
        title: "We're interested in:",
        items: [
            {
                title: "Technical Insights",
                description:
                    "Articles that delve into orchestration, automation, and workflow optimization.",
            },
            {
                title: "Tech Trends",
                description:
                    "Updates on new technologies, plugins or features in the field of software development.",
            },
            {
                title: "Tutorials",
                description:
                    "Practical guides on using Kestra, from basic setup to advanced workflow configurations.",
            },
            {
                title: "External Content",
                description:
                    "Do you want to share more about your experience of Kestra on your blog, Medium, or other " +
                    " content platforms? We empower you to share your content across all of your favorite " +
                    "platforms!",
            },
        ],
    },
    cta: {
        title: "Participation Requirements",
        description:
            "We welcome submissions to anyone with a background in software engineering, data engineering, " +
            "or related fields. Familiarity with Kestra and experience in creating engaging, technical content are a " +
            "plus.",
        action: {
            text: "Apply",
            href: FORM_URL,
            target: "_blank",
        },
    },
}

const PROCESS = {
    icon: "/shared/arrow-down.svg",
    title: "The Process: ",
    items: [
        {
            title: "Submit a Draft",
            description:
                "Fill out the submission form with your draft and background information.",
        },
        {
            title: "Draft Review",
            description:
                "Our team reviews each submission to ensure it aligns with our content standards and " +
                "audience interests.",
        },
        {
            title: "Editing Process",
            description:
                "We may suggest edits to enhance your article. Collaboration is typically done " +
                "asynchronously to respect different time zones and schedules.",
        },
        {
            title: "Publish and Promote",
            description:
                "Once finalized, we'll publish your article on our blog and promote it across our platforms.",
        },
        {
            title: "Share with Your Network",
            description:
                "Feel free to share your published work with your personal and professional networks.",
        },
    ],
}

const FAQS = {
    title: "FAQs",
    items: [
        {
            question: "Compensation",
            answer:
                "Original articles are compensated at a competitive rate (exact amount to be specified), " +
                "payable upon publication.",
        },
        {
            question: "Cross-Posting",
            answer:
                "You can cross-post your article on other platforms, provided a canonical link to the " +
                "Kestra site is included.",
        },
    ],
}

const FOOTER = {
    title: "Start Writing For Kestra",
    cta: [
        {
            text: "Join us on Slack",
            href: "/slack",
            style: "btn-dark",
            target: "_blank",
        },
        {
            text: "Submit a draft",
            href: FORM_URL,
            style: "btn-animated btn-purple-animated",
            target: "_blank",
        },
    ],
}
---

<Layout title={HEADER.title} description={HEADER.description}>
    <div class="main">
        <DetailsHero
            client:load
            title={HEADER.tag}
            description={HEADER.description}
            image={{
                src: HEADER.image.href,
                alt: HEADER.image.alt,
                width: HEADER.image.width,
                height: HEADER.image.height,
                class: HEADER.image.style
            }}
            actions={{
                purple: HEADER.cta[0],
                dark: {}
            }}
        />
        <Cards
            title="Why Submit a <span class='highlight'>Draft</span> ?"
            cards={DRAFTS}
        />
        <Write content={WRITE_PROGRAM} client:visible />
        <VerticalProcess content={PROCESS} client:visible />
        <Faq items={FAQS.items} title={FAQS.title} layout="full-width" client:visible />
        <FooterContact
            client:visible
            title={FOOTER.title}
            dark={{
                text: FOOTER.cta[0].text,
                href: FOOTER.cta[0].href,
            }}
            purple={{
                text: FOOTER.cta[1].text,
                href: FOOTER.cta[1].href,
            }}
        />
    </div>
</Layout>
