---
import { Image } from "astro:assets"
import Card from "~/components/home/Card.astro"

import everySoftware from "./assets/every-software.png"
import everySoftwareHover from "./assets/every-software-hover.png"
import everyPlatform from "./assets/every-platform.png"
import everyPlatformHover from "./assets/every-platform-hover.png"
import everyData from "./assets/every-data.png"
import everyDataHover from "./assets/every-data-hover.png"

const cards = [
    {
        class: "left-card",
        image: everySoftware,
        imageHover: everySoftwareHover,
        title: "Software Engineers",
        description:
            "Version control all your resources, from workflows to users and permissions with CI/CD and Terraform Provider.",
        link: "/use-cases/software-engineers",
        linkText: "Ship Workflows Like Your Code",
    },
    {
        class: "right-card",
        image: everyPlatform,
        imageHover: everyPlatformHover,
        title: "Platform Engineers",
        description:
            "Automate infrastructure tasks, manage dependencies, and ensure operational consistency.",
        link: "/use-cases/platform-engineers",
        linkText: "Take Control of Your Platform Ops",
    },
    {
        class: "bottom-card",
        image: everyData,
        imageHover: everyDataHover,
        title: "Data Engineers",
        description:
            "Build reliable data pipelines with on-demand infrastructure that scales on-demand whether in Cloud or on-prem.",
        link: "/use-cases/data-engineers",
        linkText: "Pipelines You Can Count On",
    },
]
---

<section class="wrapper-every-dev">
    <div class="center-block container">
        <div class="line-top"></div>
        <h2>For <span>Every</span> Developer</h2>
        <div class="line-left"></div>
        <div class="line-right"></div>
        <div class="line-bottom"></div>
        <p>Kestra unify all engineers, breaking down silos.</p>
    </div>
    <div class="container">
        {
            cards.map((card) => (
                <Card class:list={[`card-block`, card.class]}>
                    <Image
                        src={card.image}
                        alt="developers"
                        class="img-natural"
                    />
                    <Image
                        src={card.imageHover}
                        alt="developers"
                        class="img-hover"
                    />
                    <h3>{card.title}</h3>
                    <p class="description">{card.description}</p>
                    <a href={card.link} class="main-link">
                        {card.linkText}
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                        >
                            <path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z" />
                        </svg>
                    </a>
                </Card>
            ))
        }
    </div>
</section>

<style lang="scss">
    @import "~/assets/styles/variable";
    .wrapper-every-dev {
        padding: 1rem;
        margin-top: -4rem;
        color: white;

        background-image: linear-gradient(
            0deg,
            #0d0e13ff 0%,
            #0d0e1388 10%,
            #0d0e1300 30%,
            #0d0e1300 100%
        );
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: cover;
        @include media-breakpoint-up(md) {
            padding: 2rem;
            background-image:
                linear-gradient(
                    0deg,
                    #0d0e13ff 0%,
                    #0d0e1388 10%,
                    #0d0e1300 30%,
                    #0d0e1300 100%
                ),
                url(./assets/every-bg-dots.svg),
                radial-gradient(
                    ellipse at center,
                    #000 0%,
                    rgba(70, 69, 100, 0) 100%
                );
            background-blend-mode: normal, luminosity, normal;
            background-repeat: no-repeat, no-repeat, no-repeat;
            background-position:
                center bottom,
                center bottom,
                center bottom;
            background-size: cover, cover, cover;
        }
        .container {
            position: relative;
            @include media-breakpoint-up(lg) {
                height: 400px;
            }
            z-index: 1;
        }
        .center-block {
            height: auto;
            padding-top: 4rem;
            position: relative;
            @include media-breakpoint-up(lg) {
                text-align: center;
                padding-top: 230px;
                height: 540px;
                width: 500px;
                margin: 0 auto;
            }
        }
    }

    .center-block {
        h2 {
            font-size: 2rem;
            line-height: 3rem;
            color: white;
            font-weight: 600;
            @include media-breakpoint-up(lg) {
                width: 300px;
                margin-left: auto;
                margin-right: auto;
            }
            span {
                background: linear-gradient(90deg, #7c2eea 0%, #658af9 100%)
                    no-repeat center;
                background-size: cover;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        p {
            color: #b9b9ba;
            @include media-breakpoint-up(lg) {
                margin: auto;
                max-width: 250px;
            }
        }
        .line-top {
            content: "";
            position: absolute;
            z-index: -1;
            top: 70px;
            transform: translateX(-50%);
            width: 1px;
            height: 700px;
            left: 14%;
            @include media-breakpoint-up(lg) {
                left: 50%;
                height: 150px;
            }
            background:
                linear-gradient(to bottom, transparent 50%, #191e27 50%),
                linear-gradient(to bottom, #190930 0%, #658af9 100%);
            background-size:
                4px 4px,
                1px 100%;
        }
        @include media-breakpoint-up(lg) {
            .line-left {
                content: "";
                position: absolute;
                top: 50%;
                right: 50%;
                width: 95px;
                transform: translate(-130px, 45px);
                height: 1px;
                background:
                    linear-gradient(to right, transparent 50%, #191e27 50%),
                    linear-gradient(to left, #190930 0%, #658af9 100%);
                background-size:
                    4px 4px,
                    cover;
            }
            .line-right {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100px;
                transform: translate(128px, 45px);
                height: 1px;
                background:
                    linear-gradient(to right, transparent 50%, #191e27 50%),
                    linear-gradient(to right, #190930 0%, #658af9 100%);
                background-size:
                    4px 4px,
                    cover;
            }
            .line-bottom {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 1px;
                height: 130px;
                background:
                    linear-gradient(to bottom, transparent 50%, #191e27 50%),
                    linear-gradient(to bottom, #190930 0%, #658af9 100%);
                background-size:
                    4px 4px,
                    1px 100%;
            }
        }
    }

    @property --ks-card-border-color-start {
        syntax: "<color>";
        initial-value: #6b66d5;
        inherits: false;
    }

    @property --ks-card-border-color-end {
        syntax: "<color>";
        initial-value: #2d344e;
        inherits: false;
    }

    @property --ks-card-border-color-start-hover {
        syntax: "<color>";
        initial-value: #9c90d300;
        inherits: false;
    }

    @property --ks-card-border-color-end-hover {
        syntax: "<color>";
        initial-value: #ac82d600;
        inherits: false;
    }

    .card-block {
        position: relative;
        display: grid;
        grid-template-columns: 90px 1fr;
        border-radius: 2rem;
        padding: 1rem;
        margin: 2rem 0;
        border: none;
        @include media-breakpoint-up(lg) {
            display: block;
            position: absolute;
            bottom: 450px;
            width: 320px;
            text-align: center;
            padding: 1rem 2rem;
        }
        h3 {
            font-size: 1.2rem;
            font-weight: 500;
            margin-bottom: 0.5rem;
        }
        .description {
            color: #b9b9ba;
            font-size: 0.8rem;
            margin-top: 0.5em;
            margin-bottom: 0;
            overflow: hidden;
            grid-column: 2;
        }

        .main-link {
            white-space: nowrap;
            margin-top: 1rem;
            transition: all 0.3s;
            font-size: 0.8rem;
            color: #9c8fff;
            display: block;
            grid-column: 2 / 3;
            svg {
                width: 1rem;
                height: 1rem;
            }
            @include media-breakpoint-up(lg) {
                grid-column: 1 / 3;
                text-align: center;
                transform: translateX(-100px);
                opacity: 0;
            }
        }

        &:hover {
            .main-link {
                transform: translateX(0);
                opacity: 1;
            }
        }

        &:before {
            content: "";
            position: absolute;
            border-radius: inherit;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            margin: -1px;
            transition:
                --ks-card-border-color-start 0.3s,
                --ks-card-border-color-end 0.3s,
                --ks-card-border-color-end-hover 0.3s,
                --ks-card-border-color-start-hover 0.3s;
            background-image:
                linear-gradient(
                    to left,
                    var(--ks-card-border-color-start) -2.35%,
                    var(--ks-card-border-color-end) 80.15%
                ),
                linear-gradient(
                    to bottom,
                    var(--ks-card-border-color-start-hover) 0%,
                    var(--ks-card-border-color-end-hover) 100%
                );
            background-size: cover;
            background-position: center;
        }

        &:hover {
            &:before {
                --ks-card-border-color-start: #6b66d500;
                --ks-card-border-color-end: #2d344e00;
                --ks-card-border-color-start-hover: #9c90d350;
                --ks-card-border-color-end-hover: #ac82d6;
            }
        }
        :global(.img-natural),
        :global(.img-hover) {
            width: 80px;
            height: auto;
            grid-row: 1 / span 2;
            @include media-breakpoint-up(lg) {
                width: 120px;
                margin: auto;
                margin-bottom: 0.5rem;
            }
        }
        :global(.img-hover) {
            display: none;
        }
        &:hover {
            :global(.img-natural) {
                display: none;
            }
            :global(.img-hover) {
                display: block;
            }
        }
    }
    @include media-breakpoint-up(lg) {
        .left-card {
            left: 1rem;
        }
        .right-card {
            right: 1rem;
        }
        .bottom-card {
            left: 34%;
            bottom: 75px;
        }
    }
    @include media-breakpoint-up(xl) {
        .bottom-card {
            left: 37%;
        }
    }
</style>
