---
export const prerender = false
import Layout from "~/components/layout.astro"
import FooterContact from "~/components/layout/FooterContact.astro"
import MapMarkerOutline from "vue-material-design-icons/MapMarkerOutline.vue"
import { $fetch } from "~/utils/fetch"
import Header from "~/components/careers/Header.astro"
import { type AshbyJob, type AshbyJobPosting, fetchJob, type Job, mapJob } from "~/utils/careers.ts"
import MDCParserAndRenderer from "~/components/MDCParserAndRenderer.astro"

const { id1, id2, id3, id4, id5 } = Astro.params
const { url } = Astro.request

const uid = [id1, id2, id3, id4, id5].join("-");

if (!uid) {
    return Astro.redirect("/careers")
}

const page: AshbyJobPosting = await fetchJob(uid)

if (!page) {
    return new Response(null, {
        status: 404,
        statusText: "Not found",
    })
}

const title = page.title
---

<Layout title={title}>
    <Header fullPath="/careers">
        <h1 data-usal="fade-l">
            {page.title}
        </h1>
        <h4 data-usal="fade-l">
            <span class="department-tag">{page.departmentName}</span>
            <MapMarkerOutline /> Remote
        </h4>
        <a
            href={url + "/apply"}
            class="btn btn-animated btn-purple-animated mt-4"
            data-usal="zoomin"
        >
            Apply for this job
        </a>
    </Header>

    <section>
        <div class="container">
            <article set:html={page.descriptionHtml} data-usal="fade-up" />
        </div>
    </section>
    <FooterContact
        title="Join our team"
        subtitle="Interested in joining us but not able to find what you are looking for? Let's talk anyway. Write to us at"
        purple={{
            text: "Send an Open Application",
            href: "http://localhost:4321/careers/cae0ad96-ff52-4f13-9d07-350037a0f7ef-open-application/apply",
        }}
        dark={null}
    />
</Layout>
