---
import { $fetchApi } from "~/utils/fetch"
import { type PluginMetadata } from "@kestra-io/ui-libs"

import Link from "~/components/common/Link.astro"
import TaskIcon from "~/components/common/TaskIcon.astro"

import { fetchTotalPluginsCount } from "~/utils/plugins/pluginCount"

const totalPlugins = await fetchTotalPluginsCount()
const metadata = await $fetchApi<PluginMetadata[]>("/plugins/metadata")

const excluded =
    /^(core$|plugin-kestra$|plugin-debezium$|plugin-ee|secret-|storage-)/

const plugins = metadata
    .filter((p) => p.artifactId && !excluded.test(p.artifactId))
    .map((p) => ({
        ...p,
        link: `/plugins/${p.artifactId}${p.artifactId === `plugin-${p.name}` ? "" : `/${p.name}`}`,
    }))
    .sort(() => 0.5 - Math.random())

const rows = [plugins.splice(0, 20), plugins.splice(0, 20)]
---

<section class="plugins">
    <div class="container">
        <div class="content">
            <div class="title-block">
                <h2 data-usal="fade-r">
                    <slot name="title">
                        <span class="highlight">{totalPlugins}+ Plugins</span>
                        <br /> That Integrate With Your Stack
                    </slot>
                </h2>
                <p data-usal="fade-l" class="mb-0">
                    <slot name="description">
                        Connect with third-party systems, data sources, and
                        applications.
                        <br class="d-none d-lg-block" />
                        And if you require a custom integration, our platform makes
                        it easy to build custom plugins.
                    </slot>
                </p>
            </div>
            <slot name="cta">
                <Link href="/plugins" class="btn btn-secondary" data-usal="zoomin">
                    See all plugins
                </Link>
            </slot>
        </div>
    </div>

    <div class="carousel">
        {
            rows.map((items) => (
                <div class="carousel-row">
                    <div class="carousel-track">
                        {[...items, ...items]
                            .map((plugin) => (
                                <a href={plugin.link} class="plugin-logo">
                                    <TaskIcon cls={plugin.group} />
                                </a>
                            ))}
                    </div>
                </div>
            ))
        }
    </div>
</section>

<style lang="scss">
    section.plugins {
        padding: 6rem 0;
        display: flex;
        flex-direction: column;
        gap: 4.5rem;
        background: linear-gradient(
            180deg,
            var(--ks-background-secondary) 0%,
            var(--ks-background-body) 100%
        );

        .container {
            padding: 0 $rem-1;
            .content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-align: left;
                gap: $rem-2;

                @include media-breakpoint-down(md) {
                    flex-direction: column;
                    gap: $rem-2;
                }

                .btn-secondary {
                    white-space: nowrap;
                }

                .title-block {
                    h2 {
                        margin-bottom: $rem-1;
                    }
                }
            }
        }

        .carousel {
            width: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            overflow: clip;
            padding-top: 50px;
            margin-top: -50px;
            touch-action: pan-y;
            pointer-events: none;

            mask-image: linear-gradient(
                to right,
                transparent,
                $black 100px,
                $black calc(100% - 100px),
                transparent
            );

            .carousel-row {
                display: flex;
                align-items: center;
                position: relative;
                z-index: 1;
                .carousel-track {
                    display: flex;
                    gap: 10px;
                    width: max-content;
                    will-change: transform;
                }

                &:nth-child(1) .carousel-track {
                    animation: scroll-left 50s linear infinite;
                    padding-bottom: 0.5rem;
                }
                &:nth-child(2) .carousel-track {
                    animation: scroll-right 50s linear infinite;
                }
            }

            .plugin-logo {
                width: 79px;
                height: 79px;
                background: var(--ks-background-primary);
                border-radius: 12px;
                border: $block-border;
                box-shadow: 0px 2px 4px 0px var(--ks-shadows-light);
                padding: 12px;
                flex-shrink: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                pointer-events: auto;
                transition: all 0.2s ease;

                @include media-breakpoint-down(sm) {
                    width: 55px;
                    height: 55px;
                }

                &:hover {
                    color: var(--ks-content-primary);
                    z-index: 10;
                }
            }
        }
    }

    @keyframes scroll-left {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-50%);
        }
    }

    @keyframes scroll-right {
        0% {
            transform: translateX(-50%);
        }
        100% {
            transform: translateX(0);
        }
    }
</style>