---
import { render, getCollection, type CollectionEntry } from "astro:content"
import { getImage, Image } from "astro:assets"
import Layout from "~/components/layout.astro"
import Updateletter from "~/components/layout/Updateletter.vue"
import BlogDetails from "~/components/blogs/BlogDetails.vue"
import BlogToc from "~/components/blogs/BlogToc.vue"
import BlogSocials from "~/components/blogs/BlogSocials.vue"
import { default as Avatars } from "~/utils/teamsImages"
import TwoColumnStickyLayout from "~/components/common/TwoColumnStickyLayout.vue"
import Sidebar from "~/components/stories/Sidebar.vue"
import Renderer from "~/components/stories/Renderer.vue"
import Squared from "~/components/blogs/Squared.astro"
import ChevronRight from "vue-material-design-icons/ChevronRight.vue"

export async function getStaticPaths() {
    const blogsPages = await getCollection("blogs")
    return blogsPages.map((post) => ({
        params: { slug: post.id },
        props: post,
    }))
}

type Props = CollectionEntry<"blogs">
const post = Astro.props
const { Content, headings } = await render(post)
const page = post.data

const links = headings.map((h) => ({
    text: h.text,
    id: h.slug,
    depth: h.depth,
}))

const editUrl = `https://github.com/kestra-io/docs/edit/main/src/contents/blogs/${post.id}/index.md`

const title = page.title ?? "Insights & News on Data Orchestration"
const description =
    page.description ??
    "Explore the Kestra Blog for the latest articles, insights, product updates & engineering deep dives."
const { image, date, authors } = page

const staticImage = image
    ? await getImage({ src: image, format: "webp" })
    : null

const jsonLinkedData = {
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    mainEntityofPage: {
        "@type": "Webpage",
        "@id": `/blogs/${post.id}`,
    },
    headline: title,
    image: [staticImage ? staticImage.src : null],
    datePublished: date,
    author: (authors ?? []).map((author) => ({
        "@type": "Person",
        name: author.name,
    })),
    publisher: {
        "@type": "Organization",
        name: "Kestra",
        logo: { "@type": "ImageObject", url: "https://kestra.io/logo.svg" },
    },
    description: description,
}
---

<Layout title={title} description={description} image={staticImage?.src}>
    <section>
        <Fragment slot="head">
            <meta property="og:type" content="article" />
            <meta
                property="article:published_time"
                content={new Date(date).toISOString()}
            />
            <script
                type="application/ld+json"
                set:html={JSON.stringify(jsonLinkedData)}
            />
        </Fragment>
        <Squared>
            <div
                class="row d-flex justify-content-between align-items-center header-content"
            >
                <div class="header-left">
                    <a href="/blogs" class="header-breadcrumb"
                        >Blog<ChevronRight class="fs-5" /></a
                    >
                    <h1 class="header-title">{page.title}</h1>
                </div>
                {
                    page.image && (
                        <div class="header-image-container">
                            <Image
                                class="header-image"
                                src={page.image}
                                alt={page.title}
                                width={590}
                                height={332}
                            />
                        </div>
                    )
                }
            </div>
        </Squared>
        <TwoColumnStickyLayout socials={false} noSidebarStyle={true}>
            <Sidebar slot="sidebar" class="blog-sidebar">
                <BlogDetails blog={post} avatars={Avatars} />
                <BlogToc client:load links={links} />
                <BlogSocials
                    client:load
                    post={{ editUrl, title, url: Astro.url.href }}
                />
            </Sidebar>
            <Renderer class="bd-content">
                <Content />
            </Renderer>
        </TwoColumnStickyLayout>
        <Updateletter client:visible />
    </section>
</Layout>

<style lang="scss">
    @import "~/assets/styles/variable";
    .blog-sidebar {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        @include media-breakpoint-down(lg) {
            gap: 1rem;
        }
    }
    .header-content {
        gap: 44px;
        @include media-breakpoint-down(lg) {
            gap: 1.5rem;
        }
    }

    .header-left {
        max-width: 546px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;

        .header-breadcrumb {
            display: flex;
            align-items: center;

            .chevron-right-icon {
                bottom: 0.1rem;
            }
        }
    }

    .header-breadcrumb {
        font-size: $font-size-xs;
        color: var(--ks-content-secondary);
        text-decoration: none;
    }

    .header-title {
        margin: 0;
    }

    .header-image-container {
        @include media-breakpoint-up(xl) {
            max-width: 589px;
            max-height: 331px;
        }
        width: 100%;
        height: auto;
        border-radius: 8px;
        overflow: hidden;
    }

    .header-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
        display: block;
    }
</style>
