---
import type { GetStaticPaths } from "astro"
import { getCollection, type CollectionEntry } from "astro:content"
import StoryDetail from "~/components/stories/StoryDetail.vue"
import Layout from "~/components/layout.astro"
import { slugify } from "@kestra-io/ui-libs"

interface Props {
    entry: CollectionEntry<"customerStories">
    related: {
        results: {
            id: string
            title: string
            description: string
            heroImage: string
            featuredImage: string
            logo?: string
            logoDark?: string
            content: string
        }[]
        total: number
    }
}

export const getStaticPaths = (async () => {
    const allEntries = await getCollection("customerStories")

    return allEntries.map((entry) => ({
        props: {
            entry,
            related: {
                results: allEntries
                    .filter((e) => e.id !== entry.id)
                    .map((e) => ({
                        id: e.id,
                        ...e.data,
                        heroImage: e.data.heroImage.src,
                        featuredImage: e.data.featuredImage.src,
                        logo: e.data.logo?.src,
                        logoDark: e.data.logoDark?.src,
                        content: e.body ?? "",
                    }))
                    .sort(() => Math.random() - 0.5)
                    .slice(0, 3),
                total: allEntries.length,
            },
        },
        params: {
            staticSlug: `${entry.id}-${slugify(entry.data.title)}`,
        },
    }))
}) satisfies GetStaticPaths

const { entry, related } = Astro.props
const { staticSlug } = Astro.params
const id = staticSlug?.split("-")[0]
const slug = slugify(entry.data.title)

if (!entry) {
    throw new Error(`Unable to find id '${id}'`)
}

const story = {
    id: entry.id,
    ...entry.data,
    heroImage: entry.data.heroImage.src,
    featuredImage: entry.data.featuredImage.src,
    logo: entry.data.logo?.src,
    logoDark: entry.data.logoDark?.src,
    content: entry.body ?? "",
}

const content = story.content
---

<Layout title={story.metaTitle} description={story.metaDescription}>
    <div class="main">
        <StoryDetail client:load slug={slug} {story} {content} {related} />
    </div>
</Layout>

<style lang="scss">
    .main {
        overflow: clip;
    }
</style>
