---
export const prerender = false
import { $fetchApi } from "~/utils/fetch"
import Layout from "~/components/layout.astro"
import Header from "~/components/blueprints/Header.astro"
import Detail from "~/components/blueprints/Detail.vue"
import Related from "~/components/blueprints/Related.astro"
import SeeHow from "~/components/common/SeeHow.astro"

const { id } = Astro.params

let data: [Blueprint, any, BlueprintTag[]]

try {
    data = await Promise.all([
        $fetchApi<Blueprint>(`/blueprints/${id}/versions/latest`),
        $fetchApi(`/blueprints/${id}/versions/latest/graph`),
        $fetchApi<BlueprintTag[]>(`/blueprints/versions/latest/tags`),
    ])
} catch (e) {
    return Astro.redirect("/404")
}

const [pageData, graph, tags] = await data

let relatedRows: { id: string; title: string; blueprints: Blueprint[] }[] = []

if (pageData.tags && pageData.tags.length > 0) {
    const selectedTagIds = pageData.tags.slice(0, 2)

    const taggedBlueprints = await Promise.all(
        selectedTagIds.map((tagId) => {
            const tag = tags.find((t) => t.id === tagId)
            if (!tag) return

            return $fetchApi<{ results: Blueprint[] }>(
                `/blueprints/versions/latest?tags=${tagId}&size=10`,
            ).then((data) => ({
                results: data.results,
                tagName: tag.name,
                tagId,
            }))
        }),
    )

    taggedBlueprints
        .filter((t) => typeof t !== "undefined")
        .forEach(({ results, tagName, tagId }) => {
            if (results?.length) {
                const rowBlueprints = results
                    .filter((b) => b.id !== pageData.id)
                    .sort(() => Math.random() - 0.5)
                    .slice(0, 6)

                if (rowBlueprints.length > 0) {
                    relatedRows.push({
                        id: tagId,
                        title: `More <span class="highlight">${tagName}</span> Blueprints`,
                        blueprints: rowBlueprints,
                    })
                }
            }
        })
}

const title = pageData.title
const description = pageData.metaDescription
---

<Layout title={title} description={description}>
    <Header page={pageData} slug={id} tags={tags} />
    <Detail
        client:only
        page={pageData}
        description={pageData.description}
        flow={pageData.flow}
        graph={graph}
    />
    {
        relatedRows.map((row) => (
            <Related
                id={row.id}
                title={row.title}
                relatedBlueprints={row.blueprints}
                tags={tags}
            />
        ))
    }
    <SeeHow
        cta={{
            text: "Get started",
            href: "/docs/quickstart#start-kestra",
        }}
    >
        <Fragment slot="title">New to Kestra?</Fragment>
        Use blueprints to kickstart your first workflows.
    </SeeHow>
</Layout>

<style lang="scss">
    :global(.content p) {
        white-space: nowrap;
        margin-bottom: 2rem;
    }
</style>
