---
import Workflows from "~/components/features/scheduling/Workflows.vue";
export const prerender = false;
import { $fetch } from "~/utils/fetch";
import Layout from '~/components/layout.astro';
import BlueprintsHeader from "~/components/blueprints/Header.vue";
import BlueprintsDetail from "~/components/blueprints/Detail.vue";
import BlueprintsRelated from "~/components/blueprints/Related.vue";
import LayoutFooterContact from "~/components/layout/FooterContact.vue";



const { id } = Astro.params;

// Fetch blueprint data
let pageData;
let relatedBlueprints = [];

try {
    pageData = await $fetch(`https://api.kestra.io/v1/blueprints/${id}/versions/latest`);
} catch (e) {
    return Astro.redirect('/404');
}

// Fetch related blueprints
if (pageData.tags && pageData.tags.length > 0) {
    const data = await $fetch(`https://api.kestra.io/v1/blueprints/versions/latest?tags=${pageData.tags}`);
    if (data) {
        const shuffleBlueprints = arr => arr.sort(() => Math.random() - 0.5);
        relatedBlueprints = shuffleBlueprints(data.results.filter(b => b.id !== pageData.id)).slice(0, 3);
    }
}

// Parse markdown
const flowMd = '```yaml\n' + pageData.flow + '\n```';

// Fetch graph data
const graph = await $fetch(`https://api.kestra.io/v1/blueprints/${id}/versions/latest/graph`);

// Fetch tags
const tags = await $fetch(`https://api.kestra.io/v1/blueprints/versions/latest/tags`);

const title = pageData.title;
const description = pageData.metaDescription;
---

<Layout title={title} description={description}>
    <div>
        <BlueprintsHeader
            client:only
            page={pageData}
            graph={graph}
            slug={id}
        />
        <div class="container">
            <BlueprintsDetail
                client:visible
                page={pageData}
                description={pageData.description}
                flow={flowMd}
                tags={tags}
                client:visible
            />
            {relatedBlueprints.length > 0 && (
                <BlueprintsRelated
                    client:visible
                    relatedBlueprints={relatedBlueprints}
                    tags={tags}
                />
            )}
            <LayoutFooterContact
                client:visible
                title="New to Kestra?"
                subtitle="Use blueprints to kickstart your first workflows."
                purpleButtonText="Get started with Kestra"
                purpleButtonHref="/docs/getting-started/quickstart#start-kestra"
            />
        </div>
    </div>
</Layout>
